{% load static %}
<div class="box_content_include">
<div class="row">
        <div class="col-xl-12">
            <div class="head_box_content">
                <p class="head_name_box">
                    Проведено аттестаций
                </p>
                <p class="head_box_content_small_text">
                    За время существования организации было проведено:
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-1"></div>
        <div class="col-sm-4 col-md-4 col-xl-2">
            <div class="box_attestat_line">
                <div class="box_attestat">
                    <p class="box_head_number_text">
                        7 000
                    </p>
                    <p class="box_attestat_info_text">
                        Аттестаций персонала сварочного <br>
                        производства
                    </p>
                    <div class="box_line_attestat"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-xl-2">
            <div class="box_attestat_line">
                <div class="box_attestat">
                    <p class="box_head_number_text">
                        6 025
                    </p>
                    <p class="box_attestat_info_text">
                        Аттестаций персонала сварочного <br>
                        производства
                    </p>
                    <div class="box_line_attestat"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-xl-2">
            <div class="box_attestat_line">
                <div class="box_attestat">
                    <p class="box_head_number_text">
                        1 068
                    </p>
                    <p class="box_attestat_info_text">
                        Аттестаций персонала сварочного <br>
                        производства
                    </p>
                    <div class="box_line_attestat"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-xl-2">
            <div class="box_attestat_line">
                <div class="box_attestat">
                    <p class="box_head_number_text">
                        784
                    </p>
                    <p class="box_attestat_info_text">
                        Аттестаций персонала сварочного <br>
                        производства
                    </p>
                    <div class="box_line_attestat"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-xl-2">
            <div class="box_attestat_line">
                <div class="box_attestat">
                    <p class="box_head_number_text">
                        1 695
                    </p>
                    <p class="box_attestat_info_text">
                        Аттестаций персонала сварочного <br>
                        производства
                    </p>
                    <div class="box_line_attestat"></div>
                </div>
            </div>
        </div>
    </div>
</div>