{% load link_holders %}
<div class="sider_bar_service_pages">
    <div class="box_right_column_service">
        <p class="headline_side_panel">
            Услуги нашего центра:
        </p>

        <div class="list__service__column">
                <ul class="side_panel_list_link">
                        <li>
                            <a  href="{% link_holder 'ATCSM' %}" class="side_panel_right_column_text">{% title_holder 'ATCSM' %}</a>                             
                        </li>
                        <li>
                            <a  href="{% link_holder 'ATCSO' %}" class="side_panel_right_column_text">{% title_holder 'ATCSO' %}</a>                             
                        </li>
                        <li>
                            <a  href="{% link_holder 'ATCSP' %}" class="side_panel_right_column_text">{% title_holder 'ATCSP' %}</a>                             
                        </li>
                        <li>
                            <a  href="{% link_holder 'ATCST' %}" class="side_panel_right_column_text">{% title_holder 'ATCST' %}</a>                             
                        </li>
                        <li>
                            <a  href="{% link_holder 'MVC' %}" class="side_panel_right_column_text">{% title_holder 'MVC' %}</a>                             
                        </li>
                        <li>
                            <a  href="{% link_holder 'ATTSM' %}" class="side_panel_right_column_text">{% title_holder 'ATTSM' %}</a>                             
                        </li>
                    </ul>          
        </div>

    </div>
</div>