{% load link_holders %}{% load static %}
<div class="information py-5">
    <div class="container">
        <h1 class="my-4">Информация</h1>
        <div class="card-group mb-3">
            <div class="card">
                <img src="{% static '/img/info-img1.png' %}" class="card-img" alt="photo">
                <div class="card-img-overlay p-3 p-lg-5">
                    <div class="card-overlay-text px-3">
                        <h3 class="card-title">Российское сварочное профессиональное сообщество</h3>
                        <a href="#" class="text-yellow">www.rsps.site</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="{% static '/img/info-img2.png' %}" class="card-img" alt="photo">
                <div class="card-img-overlay p-3 p-lg-5">
                    <div class="card-overlay-text px-3">
                        <h3 class="card-title">База вакансий сварочного производства</h3>
                        <a href="#" class="text-yellow">bewelder.ru</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="{% static '/img/info-img3.png' %}" class="card-img" alt="photo">
                <div class="card-img-overlay p-3 p-lg-5">
                    <div class="card-overlay-text px-3">
                        <h3 class="card-title">Журнал «Сварка и Диагностика»</h3>
                        <a href="#" class="text-yellow">svarka.naks.ru</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>