{% load link_holders %}{% load static %}
<div class="acgh-body">
    <div class="header-slider py-5">
        <div class="container">
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item ml-5 active">
                        <div class="row align-items-center">
                            <div class="col-lg-5">
                                <h1>Аттестационный<br>центр ООО “АЦГХ” 1</h1>
                                <p>ООО «АЦГХ» является членом Саморегулируемой организации Ассоциация «НАКС»</p>
                                <div class="mb-3">
                                    <a href="#" class="text-yellow mr-2">naks.ru</a>
                                    <a href="#" class="text-yellow">spks.naks.ru</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item ml-5">
                        <div class="row align-items-center">
                            <div class="col-lg-5">
                                <h1>Аттестационный<br>центр ООО “АЦГХ” 2</h1>
                                <p>ООО «АЦГХ» является членом Саморегулируемой организации Ассоциация «НАКС»</p>
                                <div class="mb-3">
                                    <a href="#" class="text-yellow mr-2">naks.ru</a>
                                    <a href="#" class="text-yellow">spks.naks.ru</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item ml-5">
                        <div class="row align-items-center">
                            <div class="col-lg-5">
                                <h1>Аттестационный<br>центр ООО “АЦГХ” 3</h1>
                                <p>ООО «АЦГХ» является членом Саморегулируемой организации Ассоциация «НАКС»</p>
                                <div class="mb-3">
                                    <a href="#" class="text-yellow mr-2">naks.ru</a>
                                    <a href="#" class="text-yellow">spks.naks.ru</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                <button class="btn btn-yellow">Подать заявку онлайн</button>
            </div>
        </div>
    </div>
    </header>
</div>