{% load link_holders %}{% load static %}
<footer class="py-5">
    <div class="container">
        <div class="row align-items-center align-items-lg-start">
            <div class="col-sm-6 col-lg-2 col-xl-3 text-center text-sm-left mb-4 mb-sm-0">
                <a class="img-fluid" href="#"><img src="{% static '/img/acgh-logo.png' %}" alt="Логотип АЦГХ"></a>
            </div>
            <div class="col-sm-6 col-lg-2 col-xl-3 text-center text-sm-right text-lg-left">
                <div class="footer-nav">
                    <a class="d-lg-block mb-2 px-1" href="#">Главная</a>
                    <span class="vertical-line d-inline-block d-lg-none"></span>
                    <a class="d-lg-block mb-2 px-1" href="#">О компании</a>
                    <span class="vertical-line d-inline-block d-lg-none"></span>
                    <a class="d-lg-block mb-2 px-1" href="#">Услуги</a>
                    <span class="vertical-line d-inline-block d-lg-none"></span>
                    <a class="d-lg-block px-1" href="#">Контакты</a>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3 text-center text-sm-left my-4 my-sm-0">
                <div class="mb-2">
                    <img src="{% static '/img/acgh-phone-icon.png' %}" class="mr-2" alt="">
                    <a href="tel:+79256011400" class="text-yellow mr-2">+7(925)601-14-00</a>
                </div>
                <div class="mb-2">
                    <img src="{% static '/img/acgh-mail-icon.png' %}" class="mr-2" alt="">
                    <a href="mailto:ac-mosgaz@yandex.ru" class="text-white">ac-mosgaz@yandex.ru</a>
                </div>
                <div>
                    <img src="{% static '/img/acgh-time-icon.png' %}" class="mr-2" alt="">
                    <span>Время работы с 10.00 до 17.00</span>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3 text-center text-sm-right">
                <button class="btn btn-outline-yellow mb-4" type="button">Авторизация в ЭДО НАКС</button>
                <button class="btn btn-feedback" type="button" id="button-feedback" data-toggle="modal" data-target="#feedbackModal">Обратная связь</button>
            </div>
        </div>
    </div>
</footer>
<div class="footer-bottom-line py-4">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-sm-6 order-2 order-sm-1 text-center text-sm-left">© 2019 Все права защищены</div>
            <div class="col-sm-6 order-1 order-sm-2 text-center text-sm-right">
                <a href="#" class="text-yellow" target="_blank">Политика обработки персональных данных</a>
            </div>
        </div>
    </div>
</div>