asn1crypto==0.24.0
astroid==2.0.4
atomicwrites==1.3.0
attrs==19.1.0
bcrypt==3.1.6
certifi==2018.8.24
cffi==1.12.3
chardet==3.0.4
colorama==0.3.9
coverage==4.5.2
cryptography==2.6.1
defusedxml==0.5.0
dj-database-url==0.5.0
Django==2.2.10
django-appconf==1.0.2
django-ckeditor==5.6.1
django-classy-tags==0.8.0
django-cms==3.5.3
django-compressor==2.2
django-filer==1.4.4
django-formtools==2.1
django-haystack==2.8.1
django-js-asset==1.1.0
django-mptt==0.9.1
django-picklefield==2.0
django-polymorphic==2.0.3
django-reset-migrations==0.3.1
django-resized==0.3.9
django-rest-framework==0.1.0
django-sass-processor==0.7.2
django-scribbler-django2.0==0.9.3
django-sekizai==0.10.0
django-treebeard==4.3
django-webpack-loader==0.6.0
djangocms-admin-style==1.2.9
djangocms-attributes-field==1.0.0
djangocms-column==1.9.0
djangocms-file==2.2.0
djangocms-googlemap==1.2.0
djangocms-installer==1.0.2
djangocms-link==2.3.1
djangocms-picture==2.1.3
djangocms-snippet==2.1.0
djangocms-style==2.1.0
djangocms-text-ckeditor==3.7.0
djangocms-video==2.1.1
djangorestframework==3.9.0
easy-thumbnails==2.6
Fabric3==1.14.post1
Faker==0.9.1
gunicorn==19.9.0
html5lib==1.0.1
idna==2.7
isort==4.3.4
lazy-object-proxy==1.3.1
libsass==0.17.0
mccabe==0.6.1
mixer==6.1.3