<div class="main_page_container container py-4 mb-5">
    <div class="row">
        <div class="col-xl-8">
            <div class="row align-items-center mb-3">
                <div class="col col-sm-8">
                    <h4 class="mb-0">Новости</h4>
                </div>
                <div class="col col-sm-4 text-right">
                </div>
            </div>

            <!-- News without photo -->
            <div class="row">
                <div class="col-xl-6 order-2 order-xl-1">
                    {% include 'mainapp/includes/news_without_photos.html' %}
                </div><!-- End News not photo -->
                <!-- News with photo -->

                <div class="col-xl-6 order-1 order-xl-2">
                    {% include 'mainapp/includes/news_with_photos.html' %}
                </div><!-- End News with photo -->
            </div>
        </div>

        <div class="col-xl-4">
            <div class="row">
                <!-- Статьи -->
                <div class="col-sm-6 col-xl-12">
                    <div class="row align-items-center mb-3">
                        <div class="col">
                            <h4 class="mb-0">Материалы сайта</h4>
                        </div>

                    </div>
                    {% include 'mainapp/includes/articles.html' %}
                </div><!-- End Статьи -->

                <!-- Документы -->
                <div class="col-sm-6 col-xl-12">
                    <div class="documents-block">
                        <div class="row align-items-center mb-3">
                            <div class="col-6">
                                <h4 class="mb-0">Документы</h4>
                            </div>
                            <div class="col-6 text-right">
                                <a href="{% url 'doc' %}" class="text-dark text-size-14">Все&nbsp;документы&nbsp;→</a>
                            </div>
                        </div>
                        {% include 'mainapp/includes/documents.html' %}
                    </div>
                </div>
                <!-- End Документы -->
            </div>

        </div>
    </div>
</div>
</div>