{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
<div class="bg_header_inner_page" id="page_top">
    <div class="container">
        <div class="row">
            <div class="col-xl-4">
                <div class="headline_bg_inner_page">
                    Политика конфиденциальности
                </div>
                <button class="back_to_home_page">
                    <a href="{% url 'index' %}" class="link_to_home_page">
                        <img src="{% static 'img/back_to_page.png' %}" class="img_back_to_page" alt="">На главную
                    </a>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="box_content_in_pages">
    <div class="container">
        <div class="row">
            <div class="row">

                <div class="col-sm-12 col-xl-7">
                    <div class="box_political">
                        <p class="header__political">
                            1. Введение
                        </p>
                        <p class="political__text__small">
                            Настоящая Политика конфиденциальности персональных данных (далее – Политика
                            конфиденциальности) действует в отношении всей информации, размещенной на сайте в сети
                            Интернет по адресу: www.kcsk.ru (далее – Сайт), которую пользователи и администрация Сайта
                            могут получить о Пользователе во время использования Сайта, его сервисов, программ и
                            продуктов.
                            Использование сервисов Сайта означает безоговорочное согласие Пользователя с настоящей
                            Политикой и указанными в ней условиями обработки его персональной информации; в случае
                            несогласия с этими условиями Пользователь должен воздержаться от использования сервисов.

                        </p>
                        <p class="header__political" id="1">
                            2. Общее положение
                        </p>
                        <p class="political__text__small">
                            1.1. В рамках настоящей Политики под персональной информацией Пользователя понимаются:
                            1.1.1. Любая персональная информация, которую Пользователь предоставляет о себе
                            самостоятельно в процессе использования Сервисов, включая персональные данные Пользователя.
                            Обязательная для предоставления Сервисов информация помечена специальным образом. Иная
                            информация предоставляется Пользователем на его усмотрение.
                            1.1.2. Данные, которые автоматически передаются сервисам Сайта в процессе их использования с
                            помощью установленного на устройстве Пользователя программного обеспечения, в том числе
                            IP-адрес, данные файлов cookie, информация о браузере Пользователя (или иной программе, с
                            помощью которой осуществляется доступ к сервисам), технические характеристики оборудования и
                            программного обеспечения, используемых Пользователем, дата и время доступа к сервисам,
                            адреса запрашиваемых страниц и иная подобная информация.
                            1.2. Настоящая Политика конфиденциальности применяется только к Сайтам www.kcsk.ru. Сайт не
                            контролирует и не несет ответственности за сайты третьих лиц, на которые Пользователь может
                            перейти по ссылкам, доступным на Сайтах www.kcsk.ru.
                            1.3. Оператором персональных данных для целей настоящей Политики является ООО «КЦСК»,
                            юридический адрес: 650055, г.Кемерово, пр.Ленина, д.33, корп. 2, каб. 505.
                        </p>
                        <div class="line_end"></div>
                        <p class="header__political" id="2">
                            2. Цели обработки персональной информации пользователей
                        </p>
                        <p class="text_pynkt">
                            2.1. Сайт собирает и хранит только ту персональную информацию, которая необходима для
                            предоставления сервисов или исполнения соглашений и договоров с Пользователем, за
                            исключением случаев, когда законодательством предусмотрено обязательное хранение
                            персональной информации в течение определенного законом срока.
                        </p>
                        <p class="text_pynkt">
                            2.2. Персональную информацию Пользователя Сайт обрабатывает в следующих целях:
                        </p>
                        <p class="text_pynkt">
                            2.2.1. Установления с Пользователем обратной связи, включая направление уведомлений,
                            запросов, касающихся использования Сайта, оказания услуг, обработку запросов и заявок от
                            Пользователя.
                        </p>
                        <p class="text_pynkt">
                            2.2.2. Подтверждения достоверности и полноты персональных данных, предоставленных
                            Пользователем.
                        </p>
                        <p class="text_pynkt">
                            2.2.3. Предоставления Пользователю эффективной клиентской и технической поддержки при
                            возникновении проблем, связанных с использованием Сайта.
                        </p>
                        <div class="line_end"></div>
                        <p class="header__political" id="3">
                            3. Условия обработки персональной информации пользователей и ее передачи третьим лицам
                        </p>
                        <p class="text_pynkt">
                            3.1. В отношении персональной информации Пользователя сохраняется ее конфиденциальность,
                            кроме случаев добровольного предоставления Пользователем информации о себе для общего
                            доступа неограниченному кругу лиц. При использовании отдельных сервисов Пользователь
                            соглашается с тем, что определенная часть его персональной информации становится
                            общедоступной.
                        </p>
                        <p class="text_pynkt">
                            3.2. Оператор вправе передать персональную информацию Пользователя третьим лицам в следующих
                            случаях:
                        </p>
                        <p class="text_pynkt">
                            3.2.1. Пользователь выразил согласие на такие действия.
                        </p>
                        <p class="text_pynkt">
                            3.2.2. Передача необходима для использования Пользователем определенного сервиса либо для
                            исполнения определенного соглашения или договора с Пользователем.
                        </p>
                        <p class="text_pynkt">
                            3.2.3. Передача предусмотрена российским или иным применимым законодательством в рамках
                            установленной законодательством процедуры.
                        </p>
                        <p class="text_pynkt">
                            3.3. Обработка персональных данных Пользователя осуществляется без ограничения срока любым
                            законным способом, в том числе в информационных системах персональных данных с
                            использованием средств автоматизации или без использования таких средств. Обработка
                            персональных данных Пользователей осуществляется в соответствии с Федеральным законом от
                            27.07.2006 №152-ФЗ «О персональных данных».
                        </p>
                        <p class="text_pynkt">
                            3.4. Оператор принимает необходимые организационные и технические меры для защиты
                            персональной информации Пользователя от неправомерного или случайного доступа, уничтожения,
                            изменения, блокирования, копирования, распространения, а также от иных неправомерных
                            действий третьих лиц.
                        </p>
                        <div class="line_end"></div>
                        <p class="header__political" id="4">
                            4. Обязательство сторон
                        </p>
                        <p class="text_pynkt">
                            4.1. Пользователь обязан:
                        </p>
                        <p class="text_pynkt">
                            4.1.1. Предоставить информацию о персональных данных, необходимую для пользования Сайтом.
                        </p>
                        <p class="text_pynkt">
                            4.1.2. Обновлять, дополнять предоставленную информацию о персональных данных в случае
                            изменения данной информации.
                        </p>
                        <p class="text_pynkt">
                            4.2. Оператор обязан:
                        </p>
                        <p class="text_pynkt">
                            4.2.1. Использовать полученную информацию исключительно для целей, указанных в настоящей
                            Политике конфиденциальности.
                        </p>
                        <p class="text_pynkt">
                            4.2.2. Обеспечить хранение конфиденциальной информации в тайне, не разглашать без
                            предварительного письменного разрешения Пользователя, а также не осуществлять продажу,
                            обмен, опубликование либо разглашение иными возможными способами переданных персональных
                            данных Пользователя, за исключением предусмотренных настоящей Политикой конфиденциальности.
                        </p>
                        <p class="text_pynkt">
                                4.2.3. Принимать меры предосторожности для защиты конфиденциальности персональных данных Пользователя согласно порядку, обычно используемому для защиты такого рода информации в существующем деловом обороте.
                        </p>
                        <p class="text_pynkt">
                                4.2.4. Осуществить блокирование персональных данных, относящихся к соответствующему Пользователю, с момента обращения или запроса Пользователя или его законного представителя либо уполномоченного органа по защите прав субъектов персональных данных на период проверки в случае выявления недостоверных персональных данных или неправомерных действий.
                        </p>
                        <div class="line_end"></div>
                        <p class="header__political" id="5">
                            5. Ответственность сторон
                        </p>
                        <p class="text_pynkt">
                                5.1. Администрация Сайта, не исполнившая свои обязательства, несет ответственность за убытки, понесенные Пользователем в связи с неправомерным использованием персональных данных, в соответствии с законодательством Российской Федерации.
                        </p>
                        <p class="text_pynkt">
                                5.2. В случае утраты или разглашения конфиденциальной информации Администрация Сайта не несет ответственности, если данная конфиденциальная информация:
                        </p>
                        <p class="text_pynkt">
                                5.2.1. Стала публичным достоянием до ее утраты или разглашения.
                        </p>
                        <p class="text_pynkt">
                                5.2.2. Была получена от третьей стороны до момента ее получения Администрацией Сайта.
                        </p>
                        <p class="text_pynkt">
                                5.2.3. Была разглашена с согласия Пользователя.
                        </p>
                        <div class="line_end"></div>
                        <p class="header__political" id="6">
                            6. Разрешение споров
                        </p>
                        <p class="text_pynkt">
                                6.1. До обращения в суд с иском по спорам, возникающим из отношений между Пользователем Сайта и Администрацией Сайта, обязательным является предъявление претензии (письменного предложения о добровольном урегулировании спора).
                        </p>
                        <p class="text_pynkt">
                                6.2. Получатель претензии в течение 30 (тридцати) календарных дней со дня получения претензии письменно уведомляет заявителя претензии о результатах рассмотрения претензии.
                        </p>
                        <p class="text_pynkt">
                                6.3. При недостижении соглашения спор будет передан на рассмотрение в суд в соответствии с действующим законодательством Российской Федерации.
                        </p>
                        <p class="text_pynkt">
                                6.4. К настоящей Политике конфиденциальности и отношениям между Пользователем и Администрацией Сайта применяется действующее законодательство Российской Федерации.
                        </p>
                        <div class="line_end"></div>
                        <p class="header__political" id="7">
                            7. Дополнительные условия
                        </p>
                        <p class="text_pynkt">
                                7.1. Оператор вправе вносить изменения в настоящую Политику конфиденциальности без согласия Пользователя.
                        </p>

                        <p class="text_pynkt">
                                7.2. Новая Политика конфиденциальности вступает в силу с момента ее размещения на Сайте, если иное не предусмотрено новой редакцией Политики конфиденциальности.
                        </p>
                        <p class="text_pynkt">
                                7.3. Все предложения или вопросы по настоящей Политике конфиденциальности следует сообщать по электронной почте <br> <a href="mailto:ssr-2gac@mail.ru.">ssr-2gac@mail.ru.</a>
                        </p>
                        <p class="text_pynkt">
                                7.4. Действующая Политика конфиденциальности размещена на странице по адресу: www.kcsk.ru/political.
                        </p>


                        {% for document in political_documents %}
                        <div class="ocenka_document_box">
                            <div class="line_ocenka"></div>
                            <p class="ocenka_details_link_text">
                                {{ document.title }}
                            </p>
                            <button class="soglashenie__button mb-1">
                                <a href="{{ doc.document.url }}" class="soglashenie__button__text"
                                    title="{{ doc.document.name }}" download="#">Скачать
                                    <img src="{% static '/img/download__icon.png' %}" alt="" class="download__icon"></a>
                            </button>
                        </div>
                        {% endfor %}

                    </div>
                </div>
                <div class="col-xl-1"></div>
                <div class="col-xl-2 dotted_left_border remove">
                    <div class="box_right_column sider_bar">
                        <p class="header_right_column ">
                            На этой странице:
                        </p>

                        <a href="#1" class="smoothScroll dashed">
                            <li>Общее положение</li>
                        </a>
                        <a href="#2" class="smoothScroll dashed">
                            <li>Цели обработки</li>
                        </a>
                        <a href="#3" class="smoothScroll dashed">
                            <li>Условия обработки</li>
                        </a>
                        <a href="#4" class="smoothScroll dashed">
                            <li>Обязательство сторон</li>
                        </a>
                        <a href="#5" class="smoothScroll dashed">
                            <li>Ответственность сторон</li>
                        </a>
                        <a href="#6" class="smoothScroll dashed">
                            <li>Разрешение споров</li>
                        </a>
                        <a href="#7" class="smoothScroll dashed">
                            <li>Дополнительные условия</li>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}