// @import url("https://fonts.googleapis.com/css?family=Varela+Round");
@import '_variables.scss';

.main_menu {
  // padding: 40px;
  // background-color: $neutralLight;
  padding-bottom: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  justify-content: center;
  align-items: center;
  min-height: 5vh;
  list-style: none;
}

.main_menu li {
  min-height: 50px;
  transition: background-position-x 0.9s linear;
  text-align: center;
  margin-right: 20px;
  @media screen and (max-width: 500px) {
    // width: 60px;
    // height: 25px;
    // margin: 10px;
  }

  a {
    font-size: 22px;
    color: $primary;
    text-decoration: none;
    transition: all 0.45s;
  }

  &:hover {
    // background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEi%0D%0AIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhs%0D%0AaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0%0D%0AaD0iMzkwcHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDM5MCA1MCIgZW5hYmxlLWJhY2tn%0D%0Acm91bmQ9Im5ldyAwIDAgMzkwIDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0i%0D%0Abm9uZSIgc3Ryb2tlPSIjZDk0ZjVjIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGlt%0D%0AaXQ9IjEwIiBkPSJNMCw0Ny41ODVjMCwwLDk3LjUsMCwxMzAsMAoJYzEzLjc1LDAsMjguNzQtMzgu%0D%0ANzc4LDQ2LjE2OC0xOS40MTZDMTkyLjY2OSw0Ni41LDI0My42MDMsNDcuNTg1LDI2MCw0Ny41ODVj%0D%0AMzEuODIxLDAsMTMwLDAsMTMwLDAiLz4KPC9zdmc+Cg==");
    transition: .3s;
    border-bottom: 4px solid $secondary;
    // animation: line 1s;
  }

  &:hover a {
    color: $secondary;
  }

  @media screen and (min-width: 800px) {
    &:last-child {
      margin-right: 0px;
    }
  }
}

@keyframes line {
  0% {
    background-position-x: 390px;
  }
}

.dropdown_custom {
  white-space: nowrap;
  position: relative;
  &:hover .dropdown-custom-content {
    display: block;
  }
}

.dropdown-custom-content {
  display: none;
  position: absolute;
  // top: 40px;
  background-color: $neutralLight;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 100;
  a {
    padding: 12px 16px;
    text-decoration: none;
    text-align: left !important;
    font-size: 16px !important;
    display: block;
    &:hover {
      color: $primary !important;
    }
  }
}

