@import '_variables.scss';

.bg_info_box {
  padding: 15px 0px 15px;
  background-color: $neutralLight;

}

.shifr_link a{
  display: inline-block;
   color: $primary;
   font-size: 14px;
   border: 0.5px solid $secondary;
   border-radius: 20px;
   padding: 7px 15px;
   margin-bottom: 5px;
   margin-top: 5px;
   @media screen and (max-width: 1199px) {
     margin-bottom: 15px;
     margin-top: 15px;
   }
   &:hover {
     box-shadow: 0 0 10px $secondary;
   }
 }