/* Modal Window */
.modal {
    z-index: 100001;
}

.modal-dialog {
    max-width: 1400px;
}

.modal .custom-control-label a {
    text-decoration: underline;
}

.modal .custom-control-label a:hover {
    text-decoration: none;
}

.modal-header {
    border-bottom: none;
    background-color: #ffffff;
    color: #fff;
    border-top: 15px solid #4c6c9c;
}

.modal-footer {
    justify-content: flex-start;
    border-top: none;
    padding: 0px 45px 75px;

    @media screen and (max-width: 450px) {
        padding: 0px 35px 35px;
    }

}

.modal-content {
    background-color: #ffffff;
    color: #ffffff;
    border-radius: 0;
    border: none;
}

.form-control-sm {
    height: 35px;
    border: transparent;
    border-radius: 0;
}

.modal-content .form-control {
    // border: 1px #333333 solid;
    background-color: transparent;
    border-bottom: 1px solid rgb(182, 182, 182);
    color: #333333;
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 10px;

    &:focus {
        background-color: #f5f5f5;
        box-shadow: none;
    }
}

.modal-content .form-control option {
    color: #000;
}

.modal-content .custom-control-label::before {
    background-color: transparent;
    border: 1px solid #3f3f3f;
}

.modal-content .custom-control-input:checked~.custom-control-label::before {
    color: #3f3f3f;
    background-color: #3f3f3f;
}

.modal-header-feedback {
    padding: 0px;
}

.modal-header {
    position: relative;
    display: block;
    border-radius: 0;
    padding: 45px;
}

.custom-control-label::after {
    cursor: pointer;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 0;
    padding: 0;
}

.custom-control-checkbox {
    padding-left: 0.9rem;
    cursor: pointer;
}

.modal-title {
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: 400;
    color: #000;
}

.modal-header {

    // background-color: #838383;
    @media screen and (max-width: 450px) {
        padding: 35px 25px 15px;
    }
}


.modal-body {
    padding: 0px 45px 25px;
    color: #000;

    @media screen and (max-width: 450px) {
        padding: 0px 25px 15px;
    }
}

.modal-header p {
    font-size: 18;
    line-height: 1.8;
    color: #000;
}


.modal-header .close {
    position: absolute;
    right: 2rem;
    top: 0;
    font-size: 2.5rem;
    font-weight: 100;
    opacity: 1;
    line-height: inherit;
    padding: 1rem;
    margin: 0;

    @media screen and (max-width: 320px) {
        margin-right: -25px;
    }
}


input~label[for="soglasie"] {
    width: 100%;
    font-size: 16px;
    margin: 25px 0px 0px 10px;
    padding: 0px;
}

input~label[for="sogl"] {
    width: 100%;
    font-size: 16px;
    margin: 10px 0px 0px 10px;
    padding: 0px;
}

.button__to__send_zayavka__formmodal {
    background-color: #4c6c9c;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
    text-transform: uppercase;
    padding: 12px 45px;
    &:hover{
        background-color: #4d78b9;
    }  
    @media screen and (max-width: 450px) {
        padding: 15px;
    }
}


/* Выбор несколько из списка */

.choose__item .items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.choose__item .items li {
    display: block;
    margin: 10px 0px 0px 0px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 350;
    border: 1px #39567e solid;
    border-radius: 50px;
    padding: 10px 20px;
    margin: 0px 15px 15px 0px;
    float: left;
}

.choose__item .items li:hover {
    background-color: #39567e;
    transition: 0.5s;
    transform: scale(1.02, 1.02);
    color: #fff;
    // border: 1px #333333 solid;

}

.choose__item .items li:active {
    background-color: #45638d;

}

.selected {
    background-color: #39567e;
    border-radius: 300px;
    padding: 7px;
    color: #fff;
}

hr {
    clear: both;
}

.checks {
    opacity: 0;
}


.col-form-label-sm {
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 5px;
    font-weight: 350;
}

.modal__title__small__text {
    font-size: 16px;
    font-weight: 400;
    color: #242424;
}

.accompanying__message__bold {
    font-size: 18px;
    font-weight: 400;
}


// Upload Files
//variables
$file-uploader__primaryColor: rgb(114, 191, 167);
$file-uploader__primaryColor--hover: lighten($file-uploader__primaryColor, 15%);
$file-uploader__black: #242424;
$file-uploader__error: rgb(214, 93, 56);

//style
.file-uploader {
    border-radius: 3px;
    color: $file-uploader__black;
}

.file-uploader__message-area {
    font-size: 18px;
    color: #000;
    margin-bottom: 15px;
}

.file-list {
    background-color: rgb(208, 255, 214);
}

.file-list__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.file-list li {
    height: 50px;
    line-height: 50px;
    border: none;
    overflow: hidden;
    font-size: 18px;
}

.removal-button {
    width: 20%;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 153, 153);

    &:hover {
        background-color: rgb(252, 129, 129);
        transition: 0.2s;
    }

    &:active {
        background-color: rgb(247, 100, 100);
        transition: 0.2s;
    }

    cursor: pointer;

    &::before {
        content: '\2716';
    }

    &:focus {
        outline: 0;
    }
}

.file-chooser {
    padding: 1em;
    transition: background-color 1s, height 1s;
    margin-top: 10px;
    // & p {
    //     font-size: 18px;
    //     padding-top: 1em;
    // }
}

//layout
.file-uploader {
    max-width: 400px;
    height: auto;

    & input[type=submit] {}
}

.file-list__name {
    max-width: 70%;
    float: left;
}

.file-list li {
    @extend %clearfix;
}

.removal-button {
    display: inline-block;
    height: 100%;
    float: right;
}

.file-chooser {
    padding: 0;
    background: transparent;
}

input[type=file] {
    border: none;

}


.file-chooser__input {
    margin: 0 auto;
}

.file-uploader__submit-button {
    border-radius: 3px;
    border: none;
    margin-top: 15px;
    color: white;
    background-color: #8fb6f5;
    padding: 10px 25px;
    font-size: 16px;
    cursor: pointer;

    & input[type=submit] {
        border: none;
    }

    &:focus {
        box-shadow: none;
        outline: none;
    }

    &:hover {
        background-color: #325fa8;
    }

    &:active {
        background-color: #254e8f;
    }
}

//layout
// .file-uploader {
//     @extend %clearfix;
// }

//utility

%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.hidden {
    display: none;

    & input {
        display: none;
    }
}

.error {
    background-color: $file-uploader__error;
    color: white;
}

//reset
*,
*::before,
*::after {
    box-sizing: border-box;
}


.probel {
    @media screen and (max-width: 576px) {
        display: none;
    }
}

.line__grey {
    @media screen and (max-width: 576px) {
        border: 0.5px solid #eeeeee;
        margin-bottom: 5px;
    }

    @media screen and (max-width: 320px) {
        border: 0.5px solid #eeeeee;
        margin-bottom: 5px;
    }
}