.img-item{
    margin-left: 25px;
    padding: 20px;
    border: 0.5px solid rgb(248, 248, 248);
}

.owl-dot:focus{
    box-shadow: none;
    outline: none;
    border-radius: 0px;
}


.owl-nav{
    display: none;
}

.owl-dots{
    display: none;
}