$primary: #0F591E;
$secondary: #A6B504;
$neutral: #C3F7D8;
$background: #DEC9B1;
$highlight: #FBFFCC;
$primaryDark: #000201;
$primaryLight: #1eb03b;
$secondaryDark: #4a5102;
$secondaryLight: #e8fa25;
$neutralDark: #69eb9d;
$neutralLight: #ffffff;
$backgroundDark: #c09769;
$backgroundLight: #fcfbf9;
$highlightDark: #f3ff66;
$highlightLight: #ffffff;
