$highlightLight: #ffeaea;
$primary: #224E5E;
$neutralDark: #70ffe0;
$neutralLight: #ffffff;
$neutral: #D6FFF6;
$primaryLight: #3d8ca9;
$secondary: #5B39D4;
$backgroundDark: #007acd;
$highlight: #FF8484;
$backgroundLight: #9ad6ff;
$background: #34ADFF;
$primaryDark: #071013;
$secondaryDark: #351e89;
$highlightDark: #ff1e1e;
$secondaryLight: #a08de6;