@charset "UTF-8";
.box_header {
  padding: 25px 0px; }
  @media screen and (max-width: 320px) {
    .box_header {
      padding: 25px 0px 25px; } }
@media screen and (max-width: 576px) {
  .logo_box_head {
    padding: 15px 10px;
    text-align: center; } }

@media screen and (max-width: 575px) {
  .logo_box_free {
    text-align: center; } }

.logo_otstup {
  margin-left: 15px;
  margin-right: 15px; }

@media screen and (max-width: 576px) {
  .head_number {
    text-align: center; } }

.head_number a {
  font-size: 18px;
  font-weight: 500;
  color: #000;
  text-decoration: none; }

.consultant_text {
  font-size: 14px; }

.feedback_button a {
  text-decoration: none;
  color: #2660ad; }

@media screen and (max-width: 576px) {
  .feedback_button {
    padding: 15px 10px;
    margin-bottom: 10px;
    text-align: center; } }

.feedback_header {
  font-size: 16px;
  font-weight: 400;
  border: 0.5px solid #2660ad;
  padding: 15px 40px; }
  .feedback_header:hover {
    background-color: #336ebd;
    transition: 0.2s;
    color: #fff; }

.logo_box_sasp {
  text-align: right; }
  @media screen and (min-width: 1200px) {
    .logo_box_sasp {
      display: none; } }
.box_footer_bg {
  padding: 80px; }
  @media screen and (max-width: 1440px) {
    .box_footer_bg {
      padding: 25px 25px 25px; } }
  @media screen and (max-width: 435px) {
    .box_footer_bg {
      padding: 15px 15px 15px; } }
.box_footer_bg {
  background-color: #071013;
  margin-top: -5px; }

.footer_text_company {
  color: #ffffff;
  margin-top: 35px;
  margin-bottom: 25px; }

.spks_logo {
  margin-left: 15px; }
  @media screen and (max-width: 435px) {
    .spks_logo {
      margin-bottom: 15px;
      margin-top: 15px; } }
.name_info_block {
  color: #D6FFF6;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500; }

.footer_number {
  font-size: 16px;
  font-weight: 500;
  color: #D6FFF6;
  margin-bottom: 0px; }

.box_footer_news a {
  color: #5B39D4; }

.footer_number_text {
  font-size: 12px;
  color: #D6FFF6;
  margin-bottom: 0px; }

.footer_number_mail {
  font-size: 14px;
  color: #D6FFF6; }

.footer_news {
  font-size: 14px;
  color: #D6FFF6;
  font-weight: 400;
  margin-bottom: 0px; }

.date_news_footer {
  color: #D6FFF6;
  font-size: 12px;
  font-weight: 400; }

.point_grey::before {
  content: '';
  position: absolute;
  width: 35px;
  height: 35px;
  left: 0;
  margin-top: 5px;
  background: url(/static_root/img/yellow_punkt.png) center 0 no-repeat; }

.footer_info_link {
  font-size: 12px;
  color: #9c9c9c;
  margin-left: 15px; }

.feedback_button_footer a {
  text-decoration: none;
  color: #D6FFF6;
  margin-top: 35px; }

@media screen and (max-width: 435px) {
  .feedback_button_footer {
    margin-top: 15px;
    margin-bottom: 15px; } }

@media screen and (max-width: 435px) {
  .feedback_button_footer {
    margin-top: 15px; } }

.feedback_footer {
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #ffe13a;
  padding: 10px 50px;
  border-radius: 45px;
  color: #fff; }
  @media screen and (max-width: 435px) {
    .feedback_footer {
      margin-top: 25px; } }
  .feedback_footer:hover {
    background-color: #ffffff25;
    transition: 0.2s; }

.box_basement {
  padding: 15px 0px 0px; }
  @media screen and (max-width: 435px) {
    .box_basement {
      text-align: center; } }
.basement_text_prava_kompany {
  font-size: 11px;
  color: #FF8484;
  margin-bottom: 0px; }

.political_konf a {
  font-size: 11px;
  color: #FF8484;
  margin-bottom: 0px; }

.razrabotano_basement_footer {
  font-size: 11px;
  text-align: right; }
  @media screen and (max-width: 435px) {
    .razrabotano_basement_footer {
      text-align: center; } }
  .razrabotano_basement_footer a {
    color: #FF8484; }

.basement_number {
  text-align: right; }
  .basement_number a {
    font-size: 22px;
    color: #D6FFF6; }

.basement_mail {
  text-align: right;
  margin-bottom: 15px; }
  .basement_mail a {
    font-size: 16px;
    color: #D6FFF6;
    text-align: right; }

.basement_number_text {
  font-size: 16px;
  color: #D6FFF6;
  text-align: right; }

.line_footer_basement {
  border-bottom: 0.5px solid #6f7379;
  width: 150px;
  margin-top: 25px;
  margin-bottom: 25px; }
  @media screen and (max-width: 435px) {
    .line_footer_basement {
      width: 100%; } }
.enter_system_edo::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: -15px;
  margin-top: 5px;
  background: url(/static_root/img/enter_system.png) center 0 no-repeat; }

.enter_system_link {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  margin-left: 25px; }

.enter_system_edo a {
  text-decoration: none;
  color: #34ADFF; }
  @media screen and (max-width: 1200px) {
    .enter_system_edo a {
      margin-top: 15px;
      margin-bottom: 15px; } }
.enter_system_edo {
  text-align: right; }
  @media screen and (max-width: 1200px) {
    .enter_system_edo {
      margin-top: 25px;
      margin-bottom: 25px; } }
.basement_contacti {
  font-size: 12px;
  color: #cacaca;
  padding: 0px 0px 0px; }

.basement_phone {
  font-size: 16px;
  font-weight: 400;
  color: #cacaca; }

.line_basement {
  border-bottom: 0.5px solid #6f7379;
  margin-bottom: 15px; }

body {
  font-size: 14px;
  line-height: 1.6;
  background-color: #fff; }

@media (min-width: 360px) {
  .container {
    max-width: 1440px; } }

.no-padding {
  padding: 0px;
  margin: 0px; }

@media screen and (max-width: 1200px) {
  .delete_col {
    display: none; } }

.container-fluid {
  padding: 0px;
  margin: 0px;
  margin-bottom: 0px; }

.header__political {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 450;
  color: #000;
  margin-top: 15px; }
  @media screen and (max-width: 1199px) {
    .header__political {
      margin-top: 15px; } }
.political__text__small {
  font-size: 16px;
  font-weight: 400;
  color: #000;
  margin-top: 15px;
  margin-bottom: 15px; }

.text_pynkt {
  font-size: 14px;
  font-weight: 450; }

.line_end {
  border: 0.5px solid #ebebeb;
  margin-top: 25px;
  margin-bottom: 25px; }

.header_right_column {
  font-size: 20px;
  font-weight: 400;
  color: #000; }

.box_right_column a {
  text-decoration: none;
  list-style-type: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  color: #39567e; }

.sider_bar {
  position: sticky;
  top: 4rem;
  z-index: 1000;
  height: calc(45vh); }

.left_line_headline {
  border: 0.5px solid #39567e;
  margin-top: 35px;
  width: 95px; }
  @media screen and (max-width: 992px) {
    .left_line_headline {
      display: none; } }
.box_content_include {
  padding: 45px 0px 45px; }

.info_box_text {
  font-size: 13px;
  color: #4b5c72;
  margin-bottom: 0px;
  text-align: center; }
  @media screen and (max-width: 1199px) {
    .info_box_text {
      border-right-width: 0px;
      border-left-width: 0px;
      margin-top: 15px; } }
.naks_link {
  font-size: 13px;
  font-weight: 300;
  text-decoration: underline; }
  .naks_link a {
    color: #4b5c72;
    line-height: 1.8; }

.naks_link .spks_link {
  margin-left: 10px;
  text-decoration: underline; }

.info_box_standarti {
  text-align: center;
  border-right-width: 1px;
  border-right-style: dashed;
  border-right-color: #4b5c724f;
  border-left-width: 1px;
  border-left-style: dashed;
  border-left-color: #4b5c724f; }
  @media screen and (max-width: 1199px) {
    .info_box_standarti {
      border-right-width: 0px;
      border-left-width: 0px;
      margin-top: 15px; } }
.info_box_standarti a {
  text-decoration: none;
  color: #4b5c72;
  text-decoration: underline; }

.profstandarti_link {
  font-size: 18px;
  color: #4b5c72; }

.shifr_headline {
  font-size: 18px;
  color: #4b5c72;
  text-align: center; }
  @media screen and (max-width: 1199px) {
    .shifr_headline {
      border-right-width: 0px;
      border-left-width: 0px;
      margin-top: 15px; } }
.info_box_text_small {
  font-size: 13px;
  color: #4b5c72;
  margin-top: 10px;
  margin-bottom: 0px; }

.info_box_feedback {
  text-align: center; }
  @media screen and (max-width: 1199px) {
    .info_box_feedback {
      margin-top: 25px; } }
.feedback_button_header a {
  text-decoration: none;
  color: #fff;
  margin-top: 35px; }

.feedback_header {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  background-color: #758497;
  padding: 10px 50px;
  border-radius: 45px;
  color: #fff;
  border: none; }
  .feedback_header:hover {
    background-color: #53667e;
    transition: 0.2s; }

.bg_header_inner_page {
  position: relative;
  background: url(/static_root/img/bg_center.jpg) no-repeat;
  background-size: cover;
  padding: 45px 0px 45px; }
  .bg_header_inner_page:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #ffffff, #FF8484);
    opacity: .9; }

.headline_bg_inner_page {
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 10px;
  color: #071013; }

.subtitle_inner_page_text {
  font-size: 18px;
  padding: 5px 0px 0px;
  color: #fff;
  font-weight: 300; }

.back_to_home_page {
  background: transparent;
  border: none;
  outline: none;
  padding: 0px;
  margin-top: 15px; }
  .back_to_home_page a {
    padding: 12px 25px;
    border: 1px solid #fff;
    text-decoration: none;
    color: #224E5E;
    font-size: 16px; }
    .back_to_home_page a:hover {
      background-color: #33465f18;
      transition: 0.3s; }

.img_back_to_page {
  width: 5px;
  margin-top: -3px;
  padding: 0px;
  margin-right: 20px; }

.headline_side_panel {
  font-size: 18px;
  font-weight: 450;
  color: #33465f; }

.sider_bar_service_pages {
  padding: 0px 0px 25px; }

.line_side_panel {
  border: 0.5px solid #f1f1f1;
  margin-top: 25px;
  margin-bottom: 15px; }

.box_content_in_pages {
  padding: 65px 0px 65px; }

.headline_cok_text {
  font-size: 24px;
  font-weight: 400;
  color: #33465f; }

.ocenka_details_small_text {
  font-size: 16px;
  line-height: 1.6;
  color: #000; }

.ocenka_details_medium_text {
  font-size: 20px;
  font-weight: 450;
  color: #000;
  margin-top: 25px; }

.ocenka_details_highlighted_message {
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  color: #000;
  margin-left: 20px; }

.ocenka_details_link_text {
  font-size: 16px;
  font-weight: 400;
  color: #0066ff; }

.line_ocenka {
  border: 0.5px solid #b4b4b41f;
  margin-top: 25px;
  margin-bottom: 25px; }

.ocenka_link {
  font-size: 16px;
  margin-bottom: 25px; }

.name {
  font-size: 16px;
  font-weight: 450; }

.position {
  font-size: 14px; }

.prikrep__doc {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px; }

.soglashenie__button {
  background-color: transparent;
  border: none;
  padding: 0; }
  .soglashenie__button a {
    text-decoration: none; }

.soglashenie__button__text {
  background-color: #f3f3f3;
  border-radius: 3px;
  padding: 10px 15px;
  display: block;
  font-size: 14px;
  color: #8d8d8d; }
  .soglashenie__button__text:hover {
    color: #585858; }

.download__icon {
  margin-left: 10px; }

.soglashenie__button__text:hover {
  background-color: #f1f1f12a;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  -o-transform: scale(1.01);
  -moz-cursor: pointer; }

.box__standart {
  box-shadow: 0 2px 18px rgba(27, 27, 27, 0.03);
  margin-top: 25px;
  padding: 35px;
  border-radius: 3px;
  border: 1px solid #f3f3f3; }
  .box__standart:hover {
    border: 1px solid #c7dfff;
    transition: 0.2s; }

.header__standart {
  font-size: 16px;
  font-weight: 350;
  margin-bottom: 10px; }

.name__standart {
  font-size: 16px;
  font-weight: 500;
  color: #000; }

.info__standart {
  font-size: 16px;
  font-weight: 350;
  color: #000;
  margin-bottom: 5px; }

.number__standart {
  font-size: 14px;
  font-weight: 600; }

.box__standart__line__two {
  padding: 70px 0px; }

.download__standart {
  background-color: #cecece;
  border: none;
  border-radius: 3px;
  padding: 10px;
  margin-top: 10px; }
  .download__standart a {
    padding: 25px;
    font-size: 14px;
    color: #fff;
    text-decoration: none; }
  .download__standart:hover {
    background-color: #9b9b9b;
    transition: 0.2s; }

.right__column__header {
  font-size: 18px;
  font-weight: 500;
  padding: 25px 0px 0px; }

.list__service__column a {
  text-decoration: none;
  color: #000; }
  .list__service__column a:hover {
    color: #797979; }

.small__column__text {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px; }

.headline_side_panel {
  font-size: 18px; }

.content_center_text {
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  color: #000000; }

.important_text {
  font-weight: 550;
  color: #2f3741; }

.center_podrobnee {
  background-color: transparent;
  border: none;
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 35px; }
  .center_podrobnee a {
    border: 1px solid #eee;
    padding: 12px 25px;
    text-decoration: none;
    color: #555555;
    font-size: 16px; }
    .center_podrobnee a:hover {
      background-color: #ebebeb;
      transition: 0.3s; }

@media screen and (max-width: 768px) {
  .headline_box_content {
    padding: 45px 0px 0px; } }

.headline_center {
  font-size: 26px;
  font-weight: 450;
  color: #33465f; }

.subtitle_center {
  font-size: 20px;
  font-weight: 450;
  color: #33465f; }

.box_content_step {
  margin-top: 25px; }

.list_step_content_center {
  padding: 0px; }

.list_step_content_center li {
  list-style: none;
  font-size: 16px;
  font-weight: 400;
  color: #797979;
  line-height: 1.6;
  padding: 0px 0px 10px; }

.border_left_step {
  border-left: 1px solid #33465f;
  padding: 0px 15px; }

.box_doc_center {
  border: 1px solid #f3f5f7;
  padding: 25px; }
  @media screen and (max-width: 992px) {
    .box_doc_center {
      margin-bottom: 25px; } }
@media screen and (max-width: 320px) {
  .img_center_doc {
    width: 100%;
    height: 100%; } }

.img_center_doc:hover {
  transition: 0.2s;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  -o-transform: scale(1.01); }

.signature_for_doc {
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px; }

.box_right_personal_center {
  padding: 0px 0px 50px; }

.headline_center_right_column {
  font-size: 20px;
  font-weight: 450;
  color: #33465f;
  margin-bottom: 25px;
  padding: 0px 15px; }
  @media screen and (max-width: 992px) {
    .headline_center_right_column {
      font-size: 16px; } }
.box_naks_organization {
  background: #f3f5f7;
  padding: 25px;
  font-size: 16px;
  font-weight: 450;
  margin-top: 15px; }

.line_center {
  border-bottom: 1px solid #f3f5f7;
  margin-top: 35px;
  margin-bottom: 35px; }

.name_personal_center {
  font-size: 16px;
  font-weight: 450;
  margin-bottom: 5px; }
  @media screen and (max-width: 992px) {
    .name_personal_center {
      font-size: 14px; } }
.position_personal_center {
  font-size: 14px;
  font-weight: 350;
  margin-bottom: 5px; }
  @media screen and (max-width: 992px) {
    .position_personal_center {
      font-size: 12px; } }
.number_personal_center {
  font-size: 14px;
  font-weight: 450;
  margin-bottom: 5px; }
  @media screen and (max-width: 992px) {
    .number_personal_center {
      font-size: 12px; } }
.img_center_content_right_column {
  margin-top: 25px; }

.img_center {
  width: 240px;
  height: 160px;
  margin-bottom: 10px; }
  @media screen and (max-width: 320px) {
    .img_center {
      width: 100%;
      height: 100%; } }
  .img_center:hover {
    transition: 0.2s;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -o-transform: scale(1.01); }

.img-item {
  margin-left: 25px;
  padding: 20px;
  border: 0.5px solid #f8f8f8; }

.owl-dot:focus {
  box-shadow: none;
  outline: none;
  border-radius: 0px; }

.owl-nav {
  display: none; }

.owl-dots {
  display: none; }

.doc_box {
  padding: 0px 0px 35px; }

.header__inside__pages {
  font-size: 22px;
  font-weight: 300;
  margin-top: 25px; }

.headline_doc {
  font-size: 28px;
  font-weight: 400;
  color: #33465f;
  margin-top: 25px;
  margin-bottom: 10px; }

.doc_name_list {
  font-size: 16px;
  font-weight: 300;
  color: #000; }

.doc_content {
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: #ffffff;
  padding: 25px;
  border-radius: 3px;
  border-left: 1px solid #c5deff;
  box-shadow: 0 2px 18px rgba(27, 27, 27, 0.03); }
  .doc_content:hover {
    background-color: #f5f5f5;
    transition: 0.2s;
    border-left: 1px solid #046edf; }

.doc_name {
  position: relative;
  font-size: 15px;
  color: #275295;
  padding-left: 55px;
  margin-bottom: 0; }

.bd-sidebar {
  position: sticky;
  top: 4rem;
  z-index: 1000;
  height: calc(30vh - 4rem); }

.box_document {
  margin-top: 25px;
  margin-bottom: 25px; }
  .box_document a {
    text-decoration: none; }

.box_document_list {
  margin-top: 25px;
  margin-bottom: 25px; }
  .box_document_list a {
    text-decoration: none; }

.box_doc_file a {
  text-decoration: none; }

.box_doc_file {
  padding: 15px 0px;
  height: 60px; }

.headline_doc_section {
  font-size: 18px; }

.box_doc_file_height {
  border: 1px solid #f6f6f6;
  padding: 25px 25px;
  height: 102px;
  margin-bottom: 15px; }
  .box_doc_file_height:hover {
    box-shadow: 0 2px 18px rgba(0, 0, 0, 0.09);
    border: 1px solid #9ed8ff;
    transition: 0.2s; }

.icon_pdf::before {
  content: '';
  position: absolute;
  width: 35px;
  height: 35px;
  left: 0;
  margin-top: 5px;
  margin-left: 10px;
  background: url(/static_root/img/icon_pdf-01.svg) center 0 no-repeat; }

.doc_text_name {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  margin-left: 55px;
  margin-bottom: 0;
  padding: 10px 0px; }
  @media screen and (max-width: 440px) {
    .doc_text_name {
      padding: 5px 0px; } }
.icon_word::before {
  content: '';
  position: absolute;
  width: 35px;
  height: 35px;
  left: 0;
  margin-top: 5px;
  margin-left: 10px;
  background: url(/static_root/img/icon_word-01.svg) center 0 no-repeat; }

.box_doc_button {
  text-align: center; }

.more_doc {
  font-size: 18px;
  font-weight: 350;
  padding: 10px 45px;
  cursor: pointer;
  color: #979797;
  background-color: transparent;
  border: none;
  border: 1px solid #c0c0c0; }
  .more_doc:hover {
    border: 1px solid #9ed8ff;
    transition: 0.2s; }

.hidden {
  display: none; }

.show {
  display: block; }

.headline_text_contacts {
  font-size: 16px;
  font-weight: 350;
  color: #666; }

.ac_reestr_naks {
  margin-top: 10px;
  margin-bottom: 5px; }

.contacti_adres {
  font-size: 16px;
  margin-bottom: 16px; }

.ya__map {
  margin-bottom: 25px; }

.headline_contacti {
  margin-bottom: 25px;
  font-size: 22px;
  font-weight: 450; }
  @media screen and (max-width: 320px) {
    .headline_contacti {
      margin-top: 15px;
      margin-bottom: 0px; } }
.dotted_border_bottom {
  border-bottom: 1px dotted #ccc;
  margin-top: 15px;
  margin-bottom: 15px; }

.number_contacti {
  font-size: 16px;
  font-weight: 450; }

.phone_contacti {
  font-size: 26px;
  color: #000000;
  margin-bottom: 15px; }

.contacts_list li {
  list-style-type: none; }

.contact_head {
  color: #224E5E; }

.bg_neutral_colored {
  background-color: #D6FFF6; }

.bg_neutralLight_colored {
  background-color: #ffffff;
  height: 100%; }

.owl-carousel a {
  text-decoration: none; }

.name_personal {
  font-size: 16px;
  color: #494949;
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 450; }

.img_personal:hover {
  transition: 0.2s;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  -o-transform: scale(1.01); }

.box_content_personal {
  background: url(/static_root/img/bg_personal.jpg) no-repeat;
  background-size: cover;
  padding: 45px 0px 45px; }

.main_personal_position {
  font-size: 16px;
  margin-top: 10px;
  font-weight: 350; }

.box_info_content {
  background: #f1f1f12c;
  padding: 35px; }
  @media screen and (max-width: 320px) {
    .box_info_content {
      padding: 15px; } }
.side_panel_right_column_text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8; }

.side_panel_list_link {
  padding: 0px; }

.side_panel_list_link li {
  list-style: none;
  line-height: 1.9; }

.headline_content_box_content {
  font-size: 22px;
  color: #33465f;
  padding: 0px 0px 25px; }

.subtitle_content_box_content {
  font-size: 18px;
  color: #33465f;
  padding: 25px 0px 25px; }

.page_details_rules {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 0px; }

.page_details_content_text {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 5px; }

.box__news__inside__block {
  padding: 25px;
  background-color: #ebebeb25; }

.header__news {
  font-size: 24px;
  font-weight: 550;
  color: #000;
  margin-bottom: 15px;
  margin-top: 25px; }

.img__box__news {
  margin-top: 15px;
  margin-bottom: 25px; }

.small_text_news {
  font-size: 16px;
  font-weight: 400;
  color: #000;
  margin-top: 20px;
  line-height: 1.9; }

.news__tag__all-news {
  margin-top: 25px;
  margin-bottom: 10px; }

.news__tag__all-news a {
  font-size: 14px;
  margin-top: 25px;
  background-color: transparent;
  border-radius: 55px;
  border: 1px solid #3164a2;
  padding: 5px 15px;
  width: 70px;
  color: #3164a2;
  margin-bottom: 5px; }
  .news__tag__all-news a:hover {
    background-color: rgba(188, 218, 255, 0.1); }

.page-link {
  color: #2e3e60;
  font-size: 14px;
  border-radius: 0px; }

.page-item {
  border-radius: 0px; }

.page-link:hover {
  transition: 0.2s; }

.page-link:focus {
  outline: none;
  box-shadow: none; }

.date__news__inside {
  font-size: 14px;
  font-weight: 350;
  color: #5a5a5a;
  margin-top: 15px;
  margin-bottom: 15px; }

.vkontakte {
  background-color: #0288d1;
  padding: 10px;
  cursor: pointer;
  margin-right: 5px; }
  .vkontakte:hover {
    background-color: #027abb; }

.googlepluse {
  background-color: #f4511e;
  padding: 10px;
  cursor: pointer;
  margin-right: 5px; }
  .googlepluse:hover {
    background-color: #dd481b; }

.twitter {
  background-color: #03a9f4;
  padding: 10px;
  cursor: pointer;
  margin-right: 5px; }
  .twitter:hover {
    background-color: #0b8bc7; }

.facebook {
  background-color: #3f51b5;
  padding: 10px;
  cursor: pointer; }
  .facebook:hover {
    background-color: #3647a7; }

.to__share {
  margin-bottom: 25px;
  text-align: right; }
  @media screen and (max-width: 320px) {
    .to__share {
      text-align: left; } }
.line__news__end {
  border: 0.5px solid #ebebeb;
  margin-top: 25px;
  margin-bottom: 25px; }

.prikrep__doc {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px; }

.soglashenie__button {
  background-color: transparent;
  border: none;
  padding: 0; }
  .soglashenie__button a {
    text-decoration: none; }

.soglashenie__button__text {
  border: 1px #8d8d8d solid;
  padding: 10px 15px;
  display: block;
  font-size: 14px;
  color: #8d8d8d; }
  .soglashenie__button__text:hover {
    color: #585858; }

.download__icon {
  margin-left: 10px; }

.soglashenie__button__text:hover {
  background-color: #f1f1f1;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  -o-transform: scale(1.01);
  -moz-cursor: pointer; }

.carousel__slide {
  margin-top: 15px;
  margin-bottom: 15px; }

.header__all__news {
  font-size: 18px;
  font-weight: 300;
  margin-top: 25px; }

.line__otstup__inside__pages__news {
  margin-top: 25px;
  margin-bottom: 25px; }

.link__read__news__inside {
  margin-top: 15px;
  margin-bottom: 5px;
  padding: 25px;
  background-color: #ebebeb25; }

.link__read__news__inside a {
  text-decoration: none;
  font-size: 14px;
  color: #0066ac;
  font-weight: 450; }

.page-link {
  color: #2e3e60;
  font-size: 14px;
  border-radius: 0px; }

.page-item {
  border-radius: 0px;
  margin-top: 25px; }

.page-link:hover {
  transition: 0.2s; }

.page-link:focus {
  outline: none;
  box-shadow: none; }

.link__read__news {
  margin-top: -30px;
  margin-bottom: 25px; }

.link__read__news a {
  text-decoration: none;
  font-size: 14px;
  color: #0066ac;
  font-weight: 450; }

.block__news a {
  text-decoration: none; }

.box__news {
  font-size: 16px;
  font-weight: 400;
  color: #5a5a5a; }

.data__news__main {
  color: #a8a8a8;
  text-decoration: none;
  font-weight: 350;
  font-size: 12px;
  margin-bottom: 10px; }

.box__news__text {
  color: #03274b;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.5;
  margin-top: 10px;
  margin-bottom: 10px; }

.read_news {
  background-color: transparent;
  border: none;
  padding: 0px; }
  .read_news a {
    text-decoration: none;
    font-weight: 350;
    color: #000;
    padding: 5px 35px; }
  .read_news:hover {
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -webkit-transform: scale(1.02);
    -moz-transform: scale(2.02);
    -o-transform: scale(2.02); }

.read_news_text {
  border: 0.5px solid #4e88ff;
  display: block;
  font-size: 14px;
  padding: 5px 35px; }

.request_page_details {
  background: transparent;
  border: none;
  padding: 0px;
  margin-bottom: 25px; }
  @media screen and (max-width: 320px) {
    .request_page_details {
      margin-bottom: 15px;
      padding: 0px; } }
  .request_page_details a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 350; }

.request_button_page_details {
  background-color: #224E5E;
  border: none;
  padding: 12px 25px;
  text-decoration: none; }
  @media screen and (max-width: 1079px) {
    .request_button_page_details {
      padding: 12px 20px; } }
  .request_button_page_details:hover {
    background-color: #3d8ca9;
    transition: 0.2s;
    color: #D6FFF6; }

.content_text_page_details {
  font-size: 16px;
  line-height: 1.8; }

.headline_side_panel a {
  font-size: 16px;
  font-weight: 300; }

.headline_side_panel p {
  font-size: 16px;
  font-weight: 350; }

.dropdown-menu {
  box-sizing: border-box; }

.submenu-wrapper:hover > .sub-dropdown-menu {
  opacity: 1; }

.sub-dropdown-menu {
  display: inline-block;
  visibility: hidden;
  transition-delay: 0.5s;
  opacity: 0;
  box-sizing: border-box;
  top: auto;
  left: 100%;
  transform: translateY(-5.7rem); }
  .sub-dropdown-menu:hover {
    opacity: 1;
    visibility: visible; }

.sub-dropdown-right:hover + .sub-dropdown-menu {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s; }

.sub-dropdown-menu {
  z-index: 1000; }
  @media screen and (max-width: 600px) {
    .sub-dropdown-menu {
      max-width: 90%; } }
.sub-dropdown-right {
  box-sizing: border-box;
  clear: both;
  text-align: inherit;
  white-space: nowrap;
  border: 0; }
  .sub-dropdown-right::after {
    content: '▸';
    margin-left: 0.5rem;
    transform: translateX(0);
    z-index: 5; }

.text-yellow {
  color: #ffc003; }

a.text-yellow:hover {
  color: #ffc003; }

h1 {
  text-align: center;
  color: #002c41;
  font-size: 3rem;
  font-weight: 700; }

.btn {
  border-radius: 0; }

.btn-yellow {
  color: #002c44;
  font-size: 18px;
  font-weight: 700;
  padding: 1rem 2rem;
  border: 2px solid #ffc003;
  background-color: #ffc003;
  text-transform: uppercase; }
  .btn-yellow:hover {
    color: #ffc003;
    background-color: transparent;
    transition: 0.3s; }

.btn-primary {
  color: #fff;
  background-color: #005790;
  border-color: #005790; }
  .btn-primary:hover {
    background-color: rgba(0, 87, 144, 0.7);
    transition: 0.3s;
    color: #fff; }

.services-detail h3 {
  font-size: 23px;
  font-weight: 700;
  color: #002c41; }

.services-detail .block-yellow {
  position: relative;
  background-color: #fea901; }
  .services-detail .block-yellow .block-yellow-content {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%); }
    @media (min-width: 600px) and (max-width: 991px) {
      .services-detail .block-yellow .block-yellow-content {
        left: 15%; } }
    @media (max-width: 599px) {
      .services-detail .block-yellow .block-yellow-content {
        left: 20%; } }
  @media (max-width: 1200px) {
    .services-detail .block-yellow img {
      width: 90px; } }
  .services-detail .block-yellow h3 {
    line-height: 30px; }
    @media (max-width: 991px) {
      .services-detail .block-yellow h3 {
        font-size: 17px;
        line-height: 20px; } }
.actyvity {
  background-color: #f3f3f3;
  border-left: 4px solid #ffc003; }
  .actyvity .activity-text-bold {
    font-weight: 700;
    color: #002c41; }

.link-doc {
  color: #002c41;
  font-weight: 700; }
  .link-doc:hover {
    color: #002c41;
    transition: 0.3s;
    opacity: 0.7; }

.img-container img {
  width: 100%; }

.text-yellow {
  color: #ffc003; }

a.text-yellow:hover {
  color: #ffc003; }

h1 {
  text-align: center;
  color: #002c41;
  font-size: 3rem;
  font-weight: 700; }

.btn {
  border-radius: 0; }

.btn-yellow {
  color: #002c44;
  font-size: 18px;
  font-weight: 700;
  padding: 1rem 2rem;
  border: 2px solid #ffc003;
  background-color: #ffc003;
  text-transform: uppercase; }
  .btn-yellow:hover {
    color: #ffc003;
    background-color: transparent;
    transition: 0.3s; }

.btn-primary {
  color: #fff;
  background-color: #005790;
  border-color: #005790; }
  .btn-primary:hover {
    background-color: rgba(0, 87, 144, 0.7);
    transition: 0.3s;
    color: #fff; }

.top-right-absolute {
  position: absolute;
  top: 1px;
  right: 5px; }

.editable {
  border: 1px dotted red; }

.news-details-atteched-image {
  padding: 10px;
  max-width: 100%;
  object-fit: contain;
  flex: 1 0 33%; }

.news-details-atteched-image:hover {
  opacity: 0.8;
  transition: 0.3s; }

/*# sourceMappingURL=style.css.map */