{% load static %}

<div class="container">
  <div class="box_header">
    {% if user.is_authenticated %}

    <a href="#" id="toggle_panel" class="top-right-absolute btn btn-link"
      title="Скрыть/Показать панель администратора"><i class="fas fa-arrow-up"></i></a>


    {% endif %}

    <div class="row align-items-center">
      <div class="col-lg-3 col-xl-3">


            <div class="logo_box_head pr-3">
              <a href="{% url 'index' %}">
                <img class="img-fluid" src="
                      {% if profile.org_logotype %}
                        {{ profile.org_logotype.url }}
                      {% else %}
                        https://place-hold.it/200x80
                      {% endif %}
                      " alt="">
              </a>
            </div>


      </div>
      <div class="col-lg-3 mb-3 mb-lg-0">
        <div class="logo_box_free d-flex align-items-center justify-content-md-around justify-content-between">
          <img src="{% static '/img/logo_2.png' %}" class="logo_otstup"
            title="Лауреат Премии Правительства РФ в области качества 2012 года" alt="" alt="">
          <img src="{% static '/img/logo_3.png' %}" class="logo_otstup2"
            title="Лауреат Премии СНГ 2013 года за достижения в области качества" alt="" alt="">
          <img src="{% static '/img/logo_4.png' %}" class="logo_otstup" title="Член Международного Института Сварки"
            alt="" alt="">
          <img class="d-none d-sm-block" src="{% static '/img/sasp.png' %}"
            title="Организация допущена к выполнению работ по аттестации сварочного производства" alt="">
        </div>
      </div>
      <div class="col-xl-3">
            <div class="row">
      <div class="col-xl-12">
          <div class="head_number">
           <a href="tel:{{profile.org_main_phone}}" class="number">{{profile.org_main_phone}}</a>
          </div>
      </div>
      <div class="col-xl-12">
            <p class="consultant_text">
              {{ profile.org_address }}
            <span class="ml-2 badge badge-info">
                      {{ profile.org_work_time }}
            </span>
            </p>
      </div>
    </div>
      </div>
      <div class="col-xl-3 text-center">
        <a href="https://ac.naks.ru" target="_blank" class="auth-edo-btn btn btn-link">Авторизация в ЭДО НАКС</a>
      </div>
      <div class="col-xl-1">
      </div>
    </div>
  </div>
</div>