{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
<div class="bg_header_inner_page" id="page_top">
    <div class="container">
        <div class="row">
            <div class="col-xl-4">
                <div class="headline_bg_inner_page">
                    Центр оценки квалификации
                </div>
                <button class="back_to_home_page">
                    <a href="{% url 'index' %}" class="link_to_home_page">
                        <img src="{% static 'img/back_to_page.png' %}" class="img_back_to_page" alt="">На главную
                    </a>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="box_content_in_pages">
    <div class="container">
        <div class="row">
            <div class="col-xl-7">
                <div class="block_text">
                    <p class="headline_cok_text">
                        Саморегулируемая организация Ассоциация «Национальное Агентство Контроля Сварки»
                        (СРО Ассоциация «НАКС») решением Национального совета при Президенте РФ по профессиональным
                        квалификациям
                        (НСПК) от 29 июля 2014 года, наделена полномочиями Совета по профессиональным квалификациям в
                        области сварки (СПКС).
                    </p>
                    <p class="ocenka_details_small_text">
                        Сферой деятельности Совета являются вопросы квалификации персонала по профессиям и
                        специальностям в
                        области сварки и родственных процессов, неразрушающего контроля и разрушающих испытаний.
                        Отличительной особенностью является то, что указанные профессии и специальности являются
                        межотраслевыми, и наряду с основополагающими квалификационными требованиями, применимыми во всех
                        отраслях, необходимо учитывать специфические отраслевые требования к работникам, занимающимся
                        сваркой.
                    </p>
                    <div class="line_ocenka"></div>
                    <p class="ocenka_details_medium_text" id="1">
                        Совет осуществляет следующие функции:
                    </p>
                    <p class="ocenka_details_small_text">
                        – 1. Проведение не реже одного раза в 2 года мониторинга рынка труда, обеспечение его
                        потребностей в
                        квалификациях и профессиональном образовании;
                    </p>
                    <p class="ocenka_details_small_text">
                        – 2. Разработка и актуализация профессиональных стандартов и квалификационных требований;
                    </p>
                    <p class="ocenka_details_small_text">
                        – 3. Проведение экспертизы федеральных государственных образовательных стандартов
                        профессионального
                        образования, примерных основных профессиональных образовательных программ и их проектов, оценка
                        их
                        соответствия профессиональным стандартам, подготовка предложений по совершенствованию указанных
                        стандартов профессионального образования и образовательных программ;
                    </p>
                    <p class="ocenka_details_small_text">
                        – 4. Организация профессионально-общественной аккредитации основных профессиональных
                        образовательных
                        программ, основных программ профессионального обучения и (или) дополнительных профессиональных
                        программ;
                    </p>
                    <p class="ocenka_details_small_text">
                        – 5. Организация независимой оценки квалификации работников или лиц, претендующих на
                        осуществление
                        определенного вида трудовой деятельности (далее соответственно - соискатели, независимая оценка
                        квалификации) по определенному виду профессиональной деятельности, включая:

                    </p>
                    <p class="ocenka_details_highlighted_message">
                        – разработку проектов наименований квалификаций и требования к квалификации, на соответствие
                        которым планируется проводить независимую оценку квалификации, с указанием сроков действия
                        свидетельств о квалификации и документов, необходимых для прохождения соискателем
                        профессионального
                        экзамена по соответствующей квалификации;

                    </p>
                    <p class="ocenka_details_highlighted_message">
                        – проведение отбора организаций для выполнения ими функций центров оценки квалификаций (далее -
                        Центр), наделение их полномочиями по проведению независимой оценки квалификации и проверка
                        сведений,
                        представляемых данными организациями в ходе их отбора и наделения полномочиями;

                    </p>
                    <p class="ocenka_details_highlighted_message">
                        – организацию разработки и утверждение оценочных средств по соответствующим квалификациям,
                        которые
                        применяются Центрами при проведении профессионального экзамена по соответствующей квалификации;

                    </p>
                    <p class="ocenka_details_highlighted_message">
                        – размещение на своем официальном сайте в информационно-телекоммуникационной сети "Интернет"
                        порядка
                        оценки квалификации экспертов Центра, которые планируют участвовать в проведении
                        профессионального
                        экзамена и организация оценки их квалификации;
                    </p>
                    <p class="ocenka_details_highlighted_message">
                        – определение для каждого Центра наименования квалификаций, по которым будет проводиться
                        независимая оценка квалификации;
                    </p>
                    <p class="ocenka_details_highlighted_message">
                        – осуществление мониторинга и контроля деятельности Центров;
                    </p>
                    <p class="ocenka_details_highlighted_message">
                        – принятие решений о прекращении полномочий Центров;
                    </p>
                    <p class="ocenka_details_highlighted_message">
                        – проверку, обработку и признание результатов независимой оценки квалификации, принятие решений
                        о
                        выдаче свидетельств о квалификации Центром;
                    </p>
                    <p class="ocenka_details_highlighted_message">
                        – проведение по решению Национального совета независимой оценки квалификации;
                    </p>
                    <p class="ocenka_details_highlighted_message">
                        – создание и организация деятельности апелляционной комиссии по рассмотрению жалоб, связанных с
                        результатами проведения профессионального экзамена и выдачей свидетельства о квалификации;
                    </p>
                    <p class="ocenka_details_highlighted_message">
                        – обеспечение размещения информации в реестре сведений о проведении независимой оценки
                        квалификации;
                    </p>
                    <p class="ocenka_details_small_text">
                        – 6. формирование общедоступных информационных ресурсов, содержащих информацию о деятельности
                        Совета.
                    </p>
                    <p class="ocenka_details_small_text">
                        Председателем Совета является член НСПК, Президент НАКС, заведующий кафедрой «Технологии сварки
                        и
                        диагностики» МГТУ им. Н.Э. Баумана, академик РАН Николай Павлович Алёшин.
                    </p>
                    <p class="ocenka_details_small_text">
                        В состав Совета вошли представители ведущих российских компаний таких, как ГАЗПРОМ, ТРАНСНЕФТЬ,
                        РОСАТОМ, Объединенная ракетно-космическая корпорация, Объединенная судостроительная корпорация,
                        НОСТРОЙ, ТРАНССТРОЙ, РЖД, а также представители организаций высшего и среднего профессионального
                        образования, научных организаций, Федерации независимых профсоюзов России и органов оценки
                        соответствия.
                    </p>
                    <p class="ocenka_details_small_text">
                        Председателем Совета является член НСПК, Президент НАКС, заведующий кафедрой «Технологии сварки
                        и
                        диагностики» МГТУ им. Н.Э. Баумана, академик РАН Николай Павлович Алёшин.
                    </p>
                    <p class="ocenka_details_small_text">
                        Комиссия по Применению профессиональных стандартов в системе профессионального образования и
                        обучения проводит работу по экспертизе прошедших актуализацию на соответствие требованиям
                        профессиональных стандартов Федеральных государственных образовательных стандартов (ФГОС) и
                        Примерных основных образовательных программ (ПООП) в системе среднего профессионального и
                        высшего
                        образования. Комиссия также проводит профессионально-общественную аккредитацию основных
                        образовательных программ образовательных организаций среднего профессионального и высшего
                        образования.
                    </p>
                    <p class="ocenka_details_small_text">
                        Для повышения эффективности выполнения данных задач Комиссия активно взаимодействует с
                        Федеральными
                        учебно-методическими объединениями в системе среднего профессионального и высшего образования по
                        укрупненным группам специальностей и направлений подготовки № 15 «Машиностроение», с
                        департаментами
                        Министерства образования и науки РФ государственной политики в сфере подготовки рабочих кадров и
                        дополнительного профессионального образования и государственной политики в сфере высшего
                        образования. Члены комиссии являются экспертами рабочей группы Национального совета при
                        Президенте
                        Российской Федерации по профессиональным квалификациям по применению профессиональных стандартов
                        в
                        системе профессионального образования и обучения.
                    </p>
                    <p class="ocenka_details_small_text">
                        Комиссия принимает участие в разработке проектов ФГОС и ПООП в области сварочного производства и
                        дефектоскопии.
                    </p>
                    <p class="ocenka_details_small_text">
                        Члены Совета участвуют в подготовке и экспертизе проектов законодательных и иных нормативных
                        правовых актов Российской Федерации по вопросам развития системы профессиональных квалификаций в
                        Российской Федерации.
                    </p>
                    <p class="ocenka_details_small_text">
                        Специалистами НАКС при поддержке Министерства труда и социальной защиты РФ организованы и
                        проведены
                        Всероссийские конкурсы профессионального мастерства «Лучший по профессии» в номинации «Лучший
                        сварщик» в 2012г. в Уфе и в 2017г. в Москве. Обеспечено участие специалистов в чемпионате
                        рабочих
                        профессий EuroSkills 2014 в Лилле, Франция. Также национальная команда «Russia NAKS Team»
                        принимала
                        участие в международных соревнованиях по сварке 2016 (4th) Beijing «ArcCup» International
                        Welding
                        Competition и «2017 Shanghai «ArcCup» Competition». Итогом выступления команды «Russia NAKS
                        Team» на
                        международных соревнованиях в г. Шанхай стало первое место.
                    </p>
                    <p class="ocenka_details_small_text">
                        При непосредственном участии специалистов НАКС в компетенциях «Сварка» и «Сварочные технологии»
                        организовываются и проводятся Национальные и региональные Чемпионаты WorlsSkills.
                    </p>
                    <p class="ocenka_details_small_text">
                        В статусе Совета по профессиональным квалификациям НАКС взаимодействует с Немецким обществом
                        сварщиков (DVS) по обмену опытом в части установления квалификационных требований, подготовки
                        сварщиков и подтверждения соответствия установленным требованиям.
                    </p>
                    <p class="ocenka_details_small_text">
                        Деятельность СПКС является публичной и открытой. Все решения Совета, утвержденные им документы и
                        информация о деятельности, размещены на его сайте
                        <a href="http://spks.naks.ru/news/">spks.naks.ru</a>
                    </p>
                    <p class="ocenka_details_medium_text" id="2">
                        Нормативные правовые акты Российской Федерации по вопросам независимой оценки квалификации
                    </p>
                </div>
                <div class="block_document">


                    {% for document in spks_documents %}
                    <div class="ocenka_document_box">
                        <div class="line_ocenka"></div>
                        <p class="ocenka_details_link_text">
                            {{ document.title }}
                        </p>
                        <button class="soglashenie__button mb-1">
                            <a href="{{ doc.document.url }}" class="soglashenie__button__text"
                                title="{{ doc.document.name }}" download="#">Скачать
                                <img src="{% static '/img/download__icon.png' %}" alt="" class="download__icon"></a>
                        </button>
                    </div>
                    {% endfor %}


                </div>
                <div class="block_text_two">
                    <p class="ocenka_details_medium_text" id="3">
                        Правила проведения независимой оценки квалификации.
                        Порядок организации и проведения оценки квалификации
                    </p>
                    <p class="ocenka_details_small_text">
                        – 1. Организация и порядок проведения независимой оценки квалификации соискателя определяются
                        Федеральным законом № 238 от 22 июня 2016 года «О независимой оценке квалификации»,
                        Постановлением Правительства Российский Федерации от 16 ноября 2016 года № 1204 «Об утверждении
                        Правил проведения центром оценки квалификаций независимой оценки квалификации в форме
                        профессионального экзамена».
                    </p>
                    <p class="ocenka_details_small_text">
                        – 2. Независимая оценка квалификации соискателя проводится ЦОК в форме профессионального
                        экзамена при прохождении которого соискателем подтверждается соответствие квалификации
                        положениям профессионального стандарта или квалификационным требованиям, установленным
                        федеральными законами и иными нормативными правовыми актами Российской Федерации.
                    </p>
                    <p class="ocenka_details_small_text">
                        – 3. Профессиональный экзамен проводится по инициативе соискателя за счет средств соискателя,
                        иных физических и (или) юридических лиц либо по направлению работодателя за счет средств
                        работодателя в порядке, установленном трудовым законодательством.
                    </p>
                    <p class="ocenka_details_small_text">
                        – 4. Лицо, за счет средств которого проводится профессиональный экзамен (соискатель,
                        работодатель, иное физическое и (или) юридическое лицо), производит оплату услуг по проведению
                        профессионального экзамена на основании заключенного между ним и ЦОК договора о возмездном
                        оказании услуг (далее - договор).
                    </p>
                    <p class="ocenka_details_small_text">
                        – 5. Для прохождения профессионального экзамена соискатель лично или через законного
                        представителя представляет в ЦОК на бумажном или электронном носителе комплект документов,
                        включающий в себя (далее - комплект документов соискателя):
                    </p>
                    <p class="ocenka_details_highlighted_message">
                        – а) заявление о проведении профессионального экзамена с указанием квалификации, по которой он
                        хочет пройти профессиональный экзамен, при этом в заявлении соискателем дается согласие на
                        обработку его персональных данных, содержащихся в заявлении, а также в документах и материалах,
                        прилагаемых к нему;

                    </p>
                    <p class="ocenka_details_highlighted_message">
                        – б) копию паспорта или иного документа, удостоверяющего личность соискателя;

                    </p>
                    <p class="ocenka_details_highlighted_message">
                        – в) иные документы, необходимые для прохождения соискателем профессионального экзамена по
                        соответствующей квалификации, информация о которой содержится в реестре сведений для проведения
                        независимой оценки квалификации.
                    </p>
                    <p class="ocenka_details_small_text">
                        – 6. В целях обеспечения проведения профессионального экзамена ЦОК осуществляет:
                    </p>
                    <p class="ocenka_details_highlighted_message">
                        – а) прием и регистрацию комплекта документов соискателя;
                    </p>
                    <p class="ocenka_details_highlighted_message">
                        – б) рассмотрение и информирование соискателя или законного представителя о результатах
                        рассмотрения комплекта документов соискателя;
                    </p>
                    <p class="ocenka_details_highlighted_message">
                        – в) определение и согласование с соискателем или законным представителем даты, места и времени
                        проведения профессионального экзамена;
                    </p>
                    <p class="ocenka_details_highlighted_message">
                        – г) проведение профессионального экзамена;
                    </p>
                    <p class="ocenka_details_highlighted_message">
                        – д) оформление результатов проведения профессионального экзамена;
                    </p>
                    <p class="ocenka_details_highlighted_message">
                        – е) оформление и выдачу соискателю или законному представителю свидетельства о квалификации (в
                        случае получения соискателем неудовлетворительной оценки по итогам прохождения профессионального
                        экзамена оформление и выдачу соискателю или законному представителю заключения о прохождении
                        соискателем профессионального экзамена, включающего рекомендации для соискателя).
                    </p>
                    <p class="ocenka_details_small_text">
                        – 7. ЦОК в течение 10 календарных дней после получения комплекта документов соискателя
                        информирует соискателя или законного представителя способом, указанным в заявлении о проведении
                        профессионального экзамена, о результатах рассмотрения заявления и комплекта документов
                        соискателя и согласовывает с соискателем или законным представителем дату, место и время
                        проведения профессионального экзамена, а также информирует соискателя или законного
                        представителя о процедурах проведения профессионального экзамена.
                        В случае если профессиональный экзамен проводится по направлению работодателя, центр оценки
                        квалификаций согласовывает с работодателем дату, место и время проведения профессионального
                        экзамена.
                        В случае если соискателем или законным представителем представлен неполный комплект документов
                        соискателя, ЦОК информирует об этом соискателя или законного представителя.
                    </p>
                    <p class="ocenka_details_small_text">
                        –8. После получения полного комплекта документов соискателя и согласования даты и времени
                        проведения профессионального экзамена Руководитель ЦОК формирует состав квалификационной
                        комиссии.
                        Квалификационная комиссия назначается приказом по ЦОК с учетом заявленной области оценки
                        квалификации и фактического места проведения профессионального экзамена. Председателем
                        квалификационной комиссии назначается эксперт по оценке квалификации, для которого работа в ЦОК
                        является основной.
                    </p>
                    <p class="ocenka_details_small_text">
                        В квалификационную комиссию входят не менее трех экспертов ЦОК.
                        Квалификационная комиссия формируется из экспертов по оценке квалификации и технических
                        экспертов, аттестованных в соответствующей области деятельности. В составе квалификационной
                        комиссии не менее одного технического эксперта.
                    </p>
                    <p class="ocenka_details_small_text">
                        9. Соискатель допускается к прохождению профессионального экзамена на основании документа,
                        удостоверяющего личность.
                    </p>
                    <p class="ocenka_details_small_text">
                        10. Проведение профессионального экзамена осуществляется в соответствии с оценочными средствами
                        для проведения независимой оценки квалификации по соответствующей квалификации, утвержденными
                        СПКС.
                    </p>
                    <p class="ocenka_details_small_text">
                        11. При проведении профессионального экзамена вправе присутствовать представители Министерства
                        труда и социальной защиты Российской Федерации, СПКС.
                    </p>
                    <p class="ocenka_details_small_text">
                        12. При проведении профессионального экзамена соблюдаются требования правил по охране труда и
                        промышленной безопасности, требования инструкций по охране труда, действующими в ЦОК.
                    </p>
                    <p class="ocenka_details_small_text">
                        13. Соискатель, не явившийся на профессиональный экзамен, допускается к прохождению
                        профессионального экзамена в случаях и на условиях, которые предусмотрены договором.
                    </p>
                    <p class="ocenka_details_small_text">
                        14. Соискатель, проходящий оценку квалификации ознакамливается с оценочным средством и выполняет
                        теоретический этап и практический этап профессионального экзамена. К прохождению практического
                        этапа профессионального экзамена допускается соискатель, соответствующий критериям оценки,
                        определенным оценочным средством на теоретическом этапе профессионального экзамена.
                    </p>
                    <p class="ocenka_details_small_text">
                        15. Профессиональный экзамен считается успешно пройденным, если соискателем достигнут результат,
                        соответствующий критериям оценки, определенным оценочным средством для проведения независимой
                        оценки квалификации.
                    </p>
                    <div class="line_ocenka"></div>
                    <p class="ocenka_details_medium_text" id="4">
                        Порядок предоставления сведений о результатах оценки квалификации
                    </p>
                    <p class="ocenka_details_small_text">
                        – 1. ЦОК не позднее 7 календарных дней после завершения профессионального экзамена направляет
                        протокол, копии комплектов документов соискателя и иные материалы профессионального экзамена в
                        СПКС используя систему электронного документооборота (ЭДО).
                    </p>
                    <p class="ocenka_details_small_text">
                        – 2. Совет по профессиональным квалификациям в области сварки на основании протокола, копий
                        комплектов документов соискателя, результатов тестирования, фото- и видеоматериалов и иных
                        материалов профессионального экзамена не позднее 14 календарных дней после завершения
                        профессионального экзамена:
                    </p>
                    <p class="ocenka_details_highlighted_message">
                        – проверяет, обрабатывает и признает результаты независимой оценки квалификации;
                    </p>
                    <p class="ocenka_details_highlighted_message">
                        – принимает решение о выдаче соискателю или законному представителю ЦОК свидетельства о
                        квалификации или заключения о прохождении профессионального экзамена;
                    </p>
                    <p class="ocenka_details_highlighted_message">
                        – направляет в автономную некоммерческую организацию "Национальное агентство развития
                        квалификаций" для внесения в реестр сведений о проведении независимой оценки квалификации
                        информацию о свидетельствах о квалификации и заключениях о прохождении профессионального
                        экзамена.
                    </p>
                    <p class="ocenka_details_small_text">
                        – 3. Без регистрации сведений о результатах оценки квалификации в Федеральном реестре,
                        свидетельство о профессиональной квалификации или заключение о прохождении профессионального
                        экзамена считается недействительным.
                    </p>
                    <div class="ocenka_link">
                        <a href="http://spks.naks.ru/standart/standart/">Профстандарты в области сварки</a>
                    </div>
                    <div class="ocenka_link">
                        <a href="https://nok-nark.ru/">Реестр сведений о проведении независимой оценки
                            квалификации</a>
                    </div>
                    <div class="line_ocenka"></div>


                    <p class="ocenka_details_medium_text" id="5">
                        Образцы документов в сфере независимой оценки квалификации
                    </p>

                    {% for document in spks_example_documents %}
                    <p class="ocenka_details_small_text">
                        {{ document.title }}
                    </p>
                    <button class="soglashenie__button mb-1">
                        <a href="{{ doc.document.url }}" class="soglashenie__button__text"
                            title="{{ doc.document.name }}" download="#">Скачать
                            <img src="{% static '/img/download__icon.png' %}" alt="" class="download__icon"></a>
                    </button>
                     <div class="line_ocenka"></div>
                    {% endfor %}


                    <p class="ocenka_details_medium_text">
                        Апелляционная комиссия
                    </p>
                    <p class="ocenka_details_small_text">
                        В соответствии со статьей 4 Федерального закона от 3 июля 2016 г. № 238-ФЗ «О независимой оценке
                        квалификации», соискатель, работодатель, иные указанные в части 2 настоящей статьи физические и
                        (или) юридические лица, которые не согласны с решениями, принятыми центром оценки квалификаций
                        по итогам прохождения профессионального экзамена, в течение тридцати календарных дней с даты
                        информирования их о результатах прохождения профессионального экзамена в порядке, установленном
                        положением об апелляционной комиссии по рассмотрению жалоб, связанных с результатами проведения
                        профессионального экзамена и выдачей свидетельства о квалификации, вправе подать письменную
                        жалобу в апелляционную комиссию совета по профессиональным квалификациям.
                        Апелляционная комиссия рассматривает жалобы, поступившие в письменном виде от соискателей,
                        работодателей, иных физических и юридических лиц, за счет средств которых проводился
                        профессиональный экзамен, либо их законных представителей, на действия (бездействия) центра
                        оценки квалификаций по следующим основаниям:
                    </p>
                    <p class="ocenka_details_highlighted_message">
                        а) отказ соискателю в приеме документов на проведение профессионального экзамена;
                    </p>
                    <p class="ocenka_details_highlighted_message">
                        б) несогласие с решениями, принятыми по итогам прохождения профессионального экзамена;
                    </p>
                    <p class="ocenka_details_highlighted_message">
                        в) несоблюдение установленного порядка проведения профессионального экзамена;
                    </p>
                    <p class="ocenka_details_highlighted_message">
                        г) нарушение сроков выдачи свидетельства о квалификации или отказ в выдаче его дубликата,
                        несоответствие бланка свидетельства о квалификации и приложения к нему установленной форме;
                    </p>
                    <p class="ocenka_details_highlighted_message">
                        д) отсутствие информации о выданном свидетельстве о квалификации в реестре сведений о проведении
                        независимой оценки квалификации
                    </p>
                    <p class="ocenka_details_medium_text" id="6">
                        Состав Апелляционная комиссия
                    </p>
                    <div class="tabble_commission">

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Имя</th>
                                    <th scope="col">Должность</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="name">Орлов
                                        Александр Семенович</td>
                                    <td class="position">Руководитель комиссии, Генеральный директор ООО «ГАЦ ЦР»,
                                        д.т.н., профессор,
                                        заведующий кафедрой металлических конструкций и сварки в строительстве
                                        Воронежского Государственного архитектурно-строительного Университета, г.
                                        Воронеж</td>
                                </tr>

                            </tbody>
                            <tbody>
                                <tr>
                                    <td class="name"> Викулов
                                        Вадим Александрович</td>
                                    <td class="position">Директор АНО «ВРАЦ», г. Вологда
                                    </td>
                                </tr>

                            </tbody>
                            <tbody>
                                <tr>
                                    <td class="name"> Клюев
                                        Сергей Владимирович</td>
                                    <td class="position">Вице-президент общероссийской общественной организации
                                        «Российское общество по неразрушающему контролю и технической диагностике»
                                        (РОНКТД), генеральный директор АО МНПО «Спектр», к.т.н., г. Москва
                                    </td>
                                </tr>

                            </tbody>
                            <tbody>
                                <tr>
                                    <td class="name"> Косаковская
                                        Елена
                                        Ивановна</td>
                                    <td class="position">Заместитель руководителя Департамента социально-трудовых
                                        отношений и социального партнёрства Федерации Независимых Профсоюзов России, г.
                                        Москва
                                    </td>
                                </tr>

                            </tbody>
                            <tbody>
                                <tr>
                                    <td class="name"> Печенкина
                                        Валентина
                                        Адамовна</td>
                                    <td class="position">АНО «ГАЦ СВР», г. Тольятти
                                    </td>
                                </tr>

                            </tbody>
                            <tbody>
                                <tr>
                                    <td class="name"> Чупрак
                                        Светлана Михайловна</td>
                                    <td class="position">Начальник отдела технического регулирования и оценки
                                        квалификации СРО НП «НАКС», г. Москва
                                    </td>
                                </tr>

                            </tbody>
                            <tbody>
                                <tr>
                                    <td class="name"> Штоколов
                                        Сергей Александрович</td>
                                    <td class="position">Генеральный директор ОАО «НИИ Монтаж», г. Краснодар
                                    </td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                    <p class="ocenka_details_medium_text" id="7">
                        Контакты апелляционной комиссии
                    </p>
                    <p class="ocenka_details_small_text">
                        Почтовый адрес: 109469, г. Москва, ул. Марьинский парк, д.23, корп.3
                    </p>
                    <p class="ocenka_details_small_text">
                        Фактический адрес: 109341, г. Москва, ул. Братиславская, д. 6, подъезд 4, этаж 4, офис «НАКС»
                    </p>
                    <p class="ocenka_details_small_text">
                        Председатель апелляционной комиссии: Орлов Александр Семенович
                    </p>
                    <p class="ocenka_details_small_text">
                        Секретарь апелляционной комиссии: Чупрак Светлана Михайловна
                    </p>
                    <p class="ocenka_details_small_text">
                        Тел.: (499) 784-72-83, 784-77-00
                    </p>
                    <p class="ocenka_details_small_text">
                        Факс: (499) 784-72-83, 784-77-11
                    </p>
                    <p class="ocenka_link">
                        <a href="mailto:spks@naks.ru">spks@naks.ru</a>
                    </p>
                </div>
            </div>

            <div class="offset-1 col-xl-3 remove">
                <div class="box_right_column sider_bar">
                    <p class="header_right_column">
                        На этой странице:
                    </p>
                    <a href="#1" class="smoothScroll">
                        <li>Совет</li>
                    </a>
                    <a href="#2" class="smoothScroll">
                        <li>Правовые акты(документы)</li>
                    </a>
                    <a href="#3" class="smoothScroll">
                        <li>Правила независимой оценки квалификаций</li>
                    </a>
                    <a href="#4" class="smoothScroll">
                        <li>Результаты оценки квалификаций</li>
                    </a>
                    <a href="#5" class="smoothScroll">
                        <li>Образцы документов в сфере НОК</li>
                    </a>
                    <a href="#6" class="smoothScroll">
                        <li>Апелляционная комиссия</li>
                    </a>
                    <a href="#7" class="smoothScroll">
                        <li>Контакты апелляционной комиссии</li>
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}