{% extends 'mainapp/base.html' %}
{% load static %}


{% comment %} {% if site.components|length >= 1 %} {% endcomment %}
    {% comment %} {% for comp in site.components %} {% endcomment %}
    {% comment %} {% endfor %} {% endcomment %}
{% comment %} {% endif %} {% endcomment %}


{% block content  %}
{% include 'mainapp/includes/modal-window.html' %}


{% comment %} {{ request.resolver_match.url_name }} {% endcomment %}

<!-- Include Modal -->
{% comment %} <div w3-include-html="includes/modal-window.html"></div> {% endcomment %}
<!-- End Include Modal -->

<!-- Include Modal -->
{% comment %} <div w3-include-html="includes/info_box.html"></div> {% endcomment %}
<!-- End Include Modal -->
{% comment %} {% include 'mainapp/includes/info_box.html' %} {% endcomment %}
  {% for site_comp in site.components %}
    {% if site_comp.component.component_type == 'helper_block' or site_comp.component.component_type == 'main_page_content' or site_comp.component.component_type == 'pict_gallery' or site_comp.component.component_type == 'partners_block'   %}
      {% include site_comp %}
    {% endif %}
  {% endfor %}

<!-- Include Modal -->
{% comment %} {% include 'mainapp/includes/service_and_center.html' %} {% endcomment %}
{% comment %} <div w3-include-html="includes/service_and_center.html"></div> {% endcomment %}
<!-- End Include Modal -->


<!-- Include Modal -->

{% comment %} <div w3-include-html="includes/partners.html"></div> {% endcomment %}
<!-- End Include Modal -->


{% endblock  %}