{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
<div class="bg_header_inner_page" id="page_top">
    <div class="container">
        <div class="row">
            <div class="col-xl-4">
                <div class="headline_bg_inner_page">
                    Профстандарты в области сварки
                </div>
                <button class="back_to_home_page">
                    <a href="{% url 'index' %}" class="link_to_home_page">
                        <img src="{% static 'img/back_to_page.png' %} " class="img_back_to_page" alt="">На главную
                    </a>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="box_content_in_pages">
    <div class="container">
        <div class="row">

            {% for ps in profstandards %}
            <div class="col-xl-4">
                <div class="box__standart">
                    <p class="header__standart">
                        Профессиональный стандарт № {{ps.number}}
                    </p>
                    <p class="name__standart">
                        {{ ps.title }}
                    </p>
                    <p class="info__standart">
                        Информация о стандарте
                    </p>
                    <p class="number__standart">
                        Код: {{ ps.info }}
                    </p>
                    <p class="info__standart">
                        Регистрационный номер
                    </p>
                    <p class="number__standart">
                        {{ ps.reg_number }}
                    </p>
                    <p class="info__standart">
                        {{ ps.mintrud_prikaz }}
                    </p>
                    <button class="download__standart">
                        <a href="{{ ps.document.url }}" class="button__standart" download="">Скачать</a>
                    </button>
                </div>

            </div>
            {% endfor %}


        </div>
    </div>
</div>

{% endblock %}