// Variables
$yellow: #ffc003;

.text-yellow {
    color: $yellow;
}

a.text-yellow {
    &:hover {
        color: $yellow;
    }
}

.header-home {
    background-image: url(../../../../static_root/img/acgh-head-bcg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

// .header-other {

// }
.wrap-header-main {
    background-color: rgba(0, 44, 65, 0.5);
    font-size: 17px;

    .top-header-line {
        hr {
            border-top: 2px solid #113146;
            margin: 0;
        }

        .form-control {
            color: #fff;
            padding: 1rem;
            height: auto;
            border-left: 2px solid #113146 !important;
            border-radius: 0;
        }

        .input-group-append {
            border-left: 2px solid #113146;
            border-right: 2px solid #113146;


            .btn {
                padding: 1rem;
                border-radius: 0;
            }
        }

        .head-contact-left,
        .head-contact-right {
            padding: 1rem;

            @media (max-width: 575px) {
                padding: 0;
                border-left: 0;
            }
        }

        .head-contact-right {
            border-left: 2px solid #113146;

            @media (max-width: 575px) {
                border-left: 0;
            }
        }
    }

    .btn-feedback {
        color: #fff;
        text-transform: uppercase;
        background-color: rgba(0, 87, 144, 1);
        padding: 1rem 2.5rem;
        border-radius: 0;

        &:hover {
            background-color: rgba(0, 87, 144, 0.7);
            transition: 0.3s;
        }
    }

    .header-main {
        text-transform: uppercase;

        .navbar {
            padding: 2rem 0;

        }

        .nav-item.active .nav-link {
            font-weight: bold;
            border-bottom: 2px solid #fff;
        }

        .nav-link {
            color: #fff;
            font-size: 17px;
            border-bottom: 2px solid transparent;

            &:hover {
                border-bottom: 1px solid #fff;
                transition: 0.3s;
            }
        }

        .navbar-toggler {
            // border-radius: 0;
            border: none;
            color: #fff;

            &:hover {
                color: &yellow;
            }
        }

        .btn-outline-yellow {
            color: $yellow;
            font-size: 18px;
            font-weight: 700;
            border-radius: 0;
            padding: 1rem 2rem;
            border: 2px solid $yellow;
            text-transform: uppercase;

            &:hover {
                color: #002c44;
                background-color: $yellow;
                transition: 0.3s;
            }
        }
    }
}

.header-slider {
    background-color: rgba(0, 29, 43, 0.42);

    .carousel {
        height: 500px;
        color: #fff;

        .carousel-inner {
            border-left: 4px solid $yellow;
        }

        h1 {
            font-size: 3.5rem;
            font-weight: 700;

            @media (max-width: 767px) {
                font-size: 2rem;
            }

            @media (min-width: 768px) and (max-width: 1199px) {
                font-size: 2.5rem;
            }
        }

        p,
        a {
            font-size: 20px;
        }

    }

    .carousel-control {
        position: absolute;
        bottom: 0;

        .control-prev,
        .control-next {
            padding: 1rem;
        }
    }

    .btn-yellow {
        color: #002c44;
        font-size: 18px;
        font-weight: 700;
        border-radius: 0;
        padding: 1rem 2rem;
        border: 2px solid $yellow;
        background-color: $yellow;
        text-transform: uppercase;

        &:hover {
            color: $yellow;
            background-color: transparent;
            transition: 0.3s;
        }
    }

}

.services {
    background-color: rgba(243, 243, 243, 1);

    h1 {
        text-align: center;
        color: #002c41;
        font-size: 3rem;
        font-weight: 700;
    }

    .nav-pills {
        .nav-link.active {
            background-color: $yellow;
            color: #002c44;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                /* Абсолютное позиционирование */
                left: 50%;
                bottom: -45px;
                margin-right: -50%;
                transform: translate(-50%, -50%);
                /* Положение треугольника */
                border: 15px solid transparent;
                /* Прозрачные границы */
                border-top: 15px solid $yellow;
                /* Добавляем треугольник */
            }

            &:hover {
                background-color: $yellow;
            }
        }

        .nav-link {
            background-color: #002c41;
            color: #fff;
            border: 1px solid #fff;
            border-radius: 0;
            padding: 1rem;
            font-size: 21px;

            &:hover {
                background-color: #005790;
                transition: 0.3s;
            }
        }
    }

    .card {
        box-shadow: 0 0 21px rgba(0, 0, 0, 0.08);
        border-radius: 0;
        display: flex;
        position: relative;

        .card-img {
            border-radius: 0;
        }

        .card-title {
            font-weight: 700;
            color: #002c41;

            @media (min-width: 992px) and (max-width: 1279px) {
                font-size: 1.25rem;
            }
        }

        .card-footer {
            background-color: #002c41;
            position: absolute;
            bottom: 0;
            width: 100%;
            border-radius: 0;
            border-top: 0;
            border-right: 9px solid $yellow;
            text-align: center;

            @media (max-width: 767px) {
                position: static;
            }
        }

        .btn-details {
            font-size: 17px;
            text-transform: uppercase;
            color: $yellow;
        }
    }
}

.information {
    h1 {
        text-align: center;
        color: #002c41;
        font-size: 3rem;
        font-weight: 700;
    }

    .card {
        border-radius: 0;

        .card-img {
            border-radius: 0;
        }

        .card-img-overlay {
            top: auto;

            .card-overlay-text {
                border-left: 4px solid $yellow;
            }

            .card-title {
                font-weight: 700;
                color: #fff;
            }

            a {
                font-size: 20px;
            }
        }
    }


}

footer {
    background-color: #002c41;
    color: #fff;

    .footer-nav a {
        text-transform: uppercase;
        color: #fff;
    }

    .vertical-line {
        border-left: 2px solid $yellow;
        height: 15px;
    }

    .btn-feedback {
        color: #fff;
        text-transform: uppercase;
        background-color: rgba(0, 87, 144, 1);
        padding: 1rem 2.5rem;
        border-radius: 0;

        &:hover {
            background-color: rgba(0, 87, 144, 0.7);
            transition: 0.3s;
            color: #fff;
        }
    }

    .btn-outline-yellow {
        color: $yellow;
        font-size: 18px;
        border-radius: 0;
        padding: 1rem 2rem;
        border: 2px solid $yellow;
        text-transform: uppercase;

        &:hover {
            color: #002c44;
            background-color: $yellow;
            transition: 0.3s;
        }
    }
}

.footer-bottom-line {
    background-color: #001d2b;
    color: #729fb4;
}